  
  <ul class="list-unstyled">

    <li><span class="label label-default"><span class="glyphicon glyphicon-record" aria-hidden="true"></span></span>
      chaque point de couleur est une des <strong>{{ basic_stats["count_notices"] }} notices</strong> du catalogue</li>
    <li><span class="label label-default"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></span>
      chaque couleur représente <strong>une famille</strong> d'ouvrages</li>
    <li><span class="label label-default"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></span>
      les traits blancs représentent les <strong>emprunts</strong> des utilisateurs de {{ app_metas.title }} </li>

    <br>
      
    <li>
      <span class="label label-default"><span class="glyphicon glyphicon-move" aria-hidden="true"></span></span>                  
      <span class="label label-default"><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span></span>                  
      vous pouvez <strong>bouger</strong> autour de synapse ou <strong>zoomer</strong> avec la souris </li>
    
    <li><span class="label label-default"><span class="fa fa-toggle-on fa-md" aria-hidden="true"></span></span>                  
      pour <strong> activer ou désactiver</strong> le clic pour voir la <strong>fiche</strong> d'un ouvrage (expérimental) </li>
      
    <li>
      <span class="label label-default"><span class="glyphicon glyphicon-pause" aria-hidden="true"></span></span>                  
      <span class="label label-default"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></span>                  
      vous pouvez <strong>mettre en pause</strong> ou <strong> reprendre </strong> l'animation </li>
    

    <!-- <li><span class="label label-default"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span></span>                   -->
    <li><span class="label label-default"><span class="fa fa-sliders fa-lg" aria-hidden="true"></span></span>                  
      vous pouvez modifier les <strong>réglages de l'animation</strong> (couleurs, effets... ) </li>

    <li><span class="label label-default"><span class="glyphicon glyphicon-camera" aria-hidden="true"></span></span>                  
      vous pouvez <strong>prendre en photo</strong> l'animation et <strong>télécharger</strong> l'image</li>

    <br>
    
    
    {% if not isUser %}

    <li>
      <span class="label label-default"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span></span>                  
      <span class="label label-default"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></span>                  
      vous pouvez vous
      <a class="log_from_howto"><strong> connecter </strong>  </a>
      ou vous 
      <a class="register_trigger"><strong> créer un compte </strong>  </a>
    </li>

    <li><span class="label label-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>                  
      vous pouvez <strong>rechercher</strong> un ouvrage</li>

    {% else %}


    <li><span class="label label-default"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></span>                  
      les traits en bleu représentent <strong>votre propre parcours</strong> d'emprunts </li>
    <li><span class="label label-default"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></span>                  
      vous pouvez <strong>mettre à jour automatiquement</strong> votre propre parcours d'emprunts</li>
    <li><span class="label label-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>                  
      vous pouvez <strong>ajouter des envies</strong> à votre parcours d'emprunts</li>
    <li><span class="label label-default"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span></span>                  
      vous pouvez <strong>consulter</strong> l'ensemble de votre historique d'emprunts</li>

    <br>

    <li><span class="label label-default"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>                  
      vous pouvez modifier <strong> vos informations personnelles</strong> 
    </li>
    <li><span class="label label-default"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></span>                  
      vous pouvez vous <a href="{{ url_for('logout') }}"><strong> déconnecter</strong> </a>
      <!-- <a href="{{ url_for('logout') }}"><strong> déconnecter </strong>  </a> -->
    </li>
    
    {% endif %}

    
    <!-- <li><span class="label label-default"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></span>                  
      vous pouvez <strong>mettre à jour automatiquement</strong> votre propre parcours d'emprunts</li>
    <li><span class="label label-default"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></span>                  
      vous pouvez <strong>ajouter des envies</strong> à votre parcours d'emprunts</li> -->

  </ul>

</h3>

<hr>


<h3 class="text-center" style="margin-top:30px">
    <a data-dismiss="modal">× commencer à explorer {{ app_metas.title }} ×</a>
</h3>

{% if not isUser %}

<h3 class="text-center" style="margin-top:10px">
    <a class="log_from_howto">× se connecter pour voir votre propre parcours ×</a>
</h3>
<h3 class="text-center" style="margin-top:10px">
    <a class="register_trigger">× se créer un compte ×</a>
</h3>

{% endif %}

<br>