<hr>

<h3 class="" style="color:white">
        <strong>logos partenaires </strong>
</h3>
<br>
<div class="row">

    <a href="http://www.la-bibliotheque.com" target="_blank">   
        <img  src="{{ url_for('static', filename='images/logo_hermeland.gif') }}" class="img_partners" >
    </a>

    <a href="https://www.saint-herblain.fr" target="_blank">            
        <img  src="{{ url_for('static', filename='images/logo_st_herblain.png') }}" class="img_partners" >
    </a>
    
    <a href="https://www.lecolededesign.com" target="_blank">
        <img  src="{{ url_for('static', filename='images/logo_ecole_design.png') }}" class="img_partners" >
    </a>

    <a href="http://www.stereolux.org" target="_blank">            
        <img  src="{{ url_for('static', filename='images/logo_stereolux.png') }}" class="img_partners" >
    </a>

</div>

<br>

<div class="row" style="margin-top:10px">
            
    <a href="https://www.mobilis-paysdelaloire.fr" target="_blank">            
        <img  src="{{ url_for('static', filename='images/logo_mobilis_.png') }}" class="img_partners">
    </a>

    <a href="http://www.univ-nantes.fr" target="_blank">            
        <img  src="{{ url_for('static', filename='images/logo_univ.png') }}" class="img_partners">
    </a>
    
    <a href="http://www.iutlaroche.univ-nantes.fr" target="_blank">            
        <img  src="{{ url_for('static', filename='images/logo_iut.png') }}" class="img_partners">
    </a>
    
</div>
<br><br>