
<br>
<h3 class="" style="color:white">
    <strong> réalisation </strong>
</h3>

<div class="text-center">
    <a href="http://www.jpylab.com" target="_blank">            
        <img  src="{{ url_for('static', filename='images/logo_jpy.png') }}" style="max-height:75px ; margin-top:10px" >
    </a>
</div>

<h3 class="lead " style="color:white">
            
    <ul class="list-unstyled">
        <li>
            <!-- <span class="glyphicon glyphicon-console" aria-hidden="true"></span>                     -->
            <!-- <span class="fa fa-code fa-sm" aria-hidden="true"></span>                     -->
            <a href="http://www.jpylab.com" target="_blank">
                <strong>× Julien Paris ×</strong>
            </a>
            <!-- <span class="fa fa-code fa-sm" aria-hidden="true"></span>                     -->
            <!-- <span class="glyphicon glyphicon-console" aria-hidden="true"></span>                     -->
            
            <br>architecte DPLG de formation<br>reconverti comme développeur et entrepreneur
        </li>
        <br>
        <li>
            <!-- <a  href="https://www.paypal.me/jpydev" target="_blank"
                class="bstooltip" data-toggle="tooltip" data-placement="left"
                title="faites un don pour aider un développeur autodidacte !">
                <i class="fa fa-paypal fa-lg" area-hidden="true"></i>
            </a>
            &nbsp; -->
            <a  href="https://twitter.com/jparis_py" target="_blank"
                class="bstooltip" data-toggle="tooltip" data-placement="left"
                title="n'hésitez à m'écrire sur Twitter ">
                <i class="fa fa-twitter fa-lg" area-hidden="true"></i>
            </a>
            &nbsp;
            <a href="http://www.jpylab.com" target="_blank"
                class="bstooltip" data-toggle="tooltip" data-placement="bottom"
                title="portfolio et contact">
                <i class="fa fa-id-card-o fa-lg" area-hidden="true"></i>
            </a>
            &nbsp;
            <a  href="https://gitlab.com/Julien_P/{{ app_metas.title }}" target="_blank"
                class="bstooltip" data-toggle="tooltip" data-placement="right"
                title="repo Gitlab">
                <i class="fa fa-gitlab fa-lg" area-hidden="true"></i>
            </a>

        </li>
        <br>
    </ul>

</h3>