<div>
  <!--FORM ADD ITEM -->
  <form class="form-horizontal"
        action = "{{ url_for('index') }}"
        method = "post"
        name   = "add_item">

    <input type="hidden" name="req_type" value="add_item">
    {{ requestCabForm.hidden_tag() }}

    <div class="form-group">
      <label for="cab_code" class="col-sm-3 control-label">code barre</label>
      <div class="col-sm-8">
        {{ requestCabForm.cab_code }}
      </div>

        <div class="col-sm-8 col-sm-offset-3">
          <button
              type="button"
              class="btn btn-block btn-default btn-sm"
              id="ckeck_oneref"
              onclick="Check_OneRef()"
              data-loading-text="recherche..."
              >
            rechercher le titre et l'auteur de cet ouvrage
          </button>
        </div>

    </div>


    <div  class="form-group" id="oneref_resume" style="display:none">
      <label for="_resume" class="col-sm-3 control-label">résumé</label>
      <div   id="_resume" class="col-sm-8">
          test...
      </div>
      <hr>
    </div>


    <div class="form-group" style="display:none">
      <label for="categ" class="col-sm-3 control-label">catégorie</label>
      <div class="col-sm-8">
        {{ requestCabForm.categ }}
      </div>
    </div>





    <br>
    <div class="form-group">

      <div class="col-sm-8 col-sm-offset-3"> <!-- ADD ITEM BUTTON  -->
        <button type="button"
                class="btn btn-warning btn-block close_n_load submit_button">

          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>      
          ajouter l'ouvrage à mon parcours
        </button>
      </div>

    </div>


  </form>

</div>
