<!DOCTYPE html>

<html lang="fr">

  <head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- GOOGLE INDEXING  -->
    <!-- <meta name="google-site-verification" content="..." /> -->

  	<!-- APP INFOS  -->
    <title> {{ app_metas.title }} - {{ app_metas.version }} </title>
    <meta name="keywords"    content="{{ app_metas.metas }}">
    <meta name="author"      content="{{ app_metas.authors }}">
    <meta name="description" content="{{ app_metas.description }}">

    <!-- JQUERY  -->
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->

    <!-- LODASH -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.16.6/lodash.min.js"></script> -->

  	<!-- BOOTSTRAP  -->
    <!-- <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

  	<!-- GLYPHICONS -->
  	<link href="{{ url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}" rel="stylesheet">

    <!-- SOCKET IO -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

  	<!-- CUSTOM STYLES  -->
  	<link rel="shortcut icon" href="{{ url_for('static', filename='images/elements/favicon.ico') }}">
  	<link href="{{ url_for( 'static', filename='css/custom_styles.css' ) }}" rel="stylesheet">

    <!-- DATATABLES DYNAMIC / cf : https://datatables.net -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.15/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.15/datatables.min.js"></script>

    <!-- BOOTSTRAP SELECT BUTTONS FOR TABLE -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
    <!-- (Optional) Latest compiled and minified JavaScript translation files -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/i18n/defaults-*.min.js"></script> -->


  	<style>

      {% include "styles_app.css" %}

    </style>

  </head>

    <!-- MODAL LOADER -->
    {% include "modal_loader.html" %}


  <header>

    {% include "navbar_sidebar.html" %}

  </header>


  <body id="body" >


  	<!-- CONTENTS -->
  	<div class="container-fluid">


      <div class="row" id="row-main"  >

        <!-- id="row-main" -->
	      {% block content %}{% endblock %}

      </div>

  	</div>



  	<!-- FOOTER --------------------------------------------------------------------- -->

    <!-- end of footer-->



  	<!-- MODALS --------------------------------------------------------------------- -->

    {% include "modal_intro.html" %}
    {% include "modal_intro.html" %}
    {% include "modal_howto.html" %}
    {% include 'modal_login.html'%}
  	{% include 'modal_register.html'%}


    {% if isUser %}
      {% include 'modal_update_aloes.html'%}
      {% include 'modal_update_user.html'%}
      {% include 'modal_add_item.html' %}
    {% endif %}



    {% with messages = get_flashed_messages(with_categories = true) %}
      {% if messages %}

        {% for category, message in messages %}
          <alert class="alert alert-{{ category }} alert-dismissible text-center" role="alert">
            <button type="button"
              class="close"
              data-dismiss="alert"
              aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <strong>
              {{ message }}
            </strong>
          </alert>
        {% endfor %}

      {% endif %}
    {% endwith %}



  </body>



  <!--  bootstrap callings  -->
  <script type="text/javascript">

    // loader
    $('#mod_loader').modal('show');


    $(document).ready( function(){

      // activate bootstrap dropdown / carousel
      $('#mod_loader').modal('hide');
      $('#mod_intro').modal('show');
      $(".dropdown-toggle").dropdown() ;
      $('.carousel').carousel(
        {interval: 5000}
      );

      // close all modals and show loader on click on button .close_n_load
      function close_n_load(){
        // console.log("--- close_n_load ---");
        $(".modal").modal("hide");
        $('#mod_loader').modal('show');
      };

      $(".close_n_load").click(function(){
        close_n_load();
        }
      );

      // dynamic tables
      var table = $('.tableParcours').DataTable( {

        "language": {
                    "lengthMenu": "montrer _MENU_ ouvrages par page",
                    "zeroRecords": "Rien trouvé - sorry",
                    "info": "page _PAGE_ de _PAGES_",
                    "infoEmpty": "pas d'info disponible",
                    "infoFiltered": "(filtré sur _MAX_ entrées)",
                    "search":         "rechercher :",
                    "paginate": {
                        "first":      "première page",
                        "last":       "dernière",
                        "next":       "suivante",
                        "previous":   "précédente"
                    },
                },

        initComplete: function () {
         this.api().columns().every( function () {
             var column = this;
             var select = $( '<select class="selectpicker" data-size="15" data-width="75px" title="filter" data-style="btn-info"><option value=""> - FILTRER - </option></select>' )
                 .appendTo( $(column.footer()).empty() )
                 .on( 'change', function () {
                     var val = $.fn.dataTable.util.escapeRegex(
                         $(this).val()
                     );
                     column
                         .search( val ? '^'+val+'$' : '', true, false )
                         .draw();
                 } );

             column.data().unique().sort().each( function ( d, j ) {
                 select.append( '<option value="'+d+'">'+d+'</option>' )
             } );
         } );
       }
            // buttons: [ 'copy', 'excel', 'pdf', 'colvis' ]
            // "scrollY"       : "250px",
            // "scrollCollapse": true,
            // "paging"        : true,
            // "columnDefs"    : [ "order"  : [ [ 5, "desc" ] ]  ],

      });

    });

    // activate bootstrap tooltips with custom caller (data-tooltip instead of data-toggle)
    $(function () {
        $('[data-tooltip="tooltip"]').tooltip()
    });

    // manage appear on hover and disappear after x milliseconds
    $('.bstooltip').mouseenter(function(){
        var that = $(this);
        that.tooltip('show');
        // setTimeout(function(){
        //   that.tooltip('hide');
        // }, 10000);
    });

    $('.bstooltip').mouseleave(function(){
        $(this).tooltip('hide');
    });

    // click dropdown on hover
    $('.dropdown').hover(function(){
      $('.dropdown-toggle', this).trigger('click');
    });


    // refresh view
    function refreshPage (href){
        //console.log(href);
        window.location = href ;
    };


    // // fades alerts
    window.setTimeout(function() {
        $(".alert_fade").fadeTo(500, 0).slideUp(500, function(){
      $(this).remove();
        });
    }, 4000);





    // tooltip with image inside
    $('.tooltip_img').tooltip({
        animated : 'fade',
        placement: 'left',
        html     : true
    });


    //change app scale if view on mobile screen :
    var screen_width = window.innerWidth;
    // console.log("$(document).ready / screen_width : ", screen_width);
    if (screen_width < 600 ) {
    // if (navigator.userAgent.match(/iPhone/i) || navigator.userAgent.match(/iPad/i)) {
      // console.log("--- !!! --- small screen_width < 600px  ");

      // var viewportmeta = document.querySelector('meta[name="viewport"]');
      // if (viewportmeta) {
      //   viewportmeta.content = 'width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=0.35';
      //   document.body.addEventListener('gesturestart', function () {
      //       viewportmeta.content = 'width=device-width, minimum-scale=0.35, maximum-scale=1.0';
      //   }, false);
      // }
      // $("meta[name='viewport']").attr("content", "width=device-width, initial-scale=0.1");
      $("meta[name='viewport']").attr("content", "width=device-width, initial-scale=0.35");
    }
    else if (screen_width < 800 ) {
      // console.log("--- !!! --- small screen_width < 800px  ");
      $("meta[name='viewport']").attr("content", "width=device-width, initial-scale=0.7");

    }
    ;

  </script>


</html>
