<!DOCTYPE html>

<html lang="fr">

  <head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- GOOGLE INDEXING  -->
    <!-- <meta name="google-site-verification" content="..." /> -->

  	<!-- APP INFOS  -->
    <title> {{ app_metas.title }} - {{ app_metas.version }} </title>
    <meta name="keywords"    content="{{ app_metas.metas }}">
    <meta name="author"      content="{{ app_metas.authors }}">
    <meta name="description" content="{{ app_metas.description }}">
    <meta id="meta_isUser"   data="{{ is_user_meta }}" >
    <meta id="meta_isData"   data="{{ is_userdata }}" >
    
    <!-- JQUERY  -->
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->

    <!-- LODASH -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.16.6/lodash.min.js"></script> -->

  	<!-- BOOTSTRAP  -->
    <!-- <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

  	<!-- GLYPHICONS -->
  	<link href="{{ url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}" rel="stylesheet">

    <!-- SOCKET IO -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

  	<!-- CUSTOM STYLES  -->
  	<link rel="shortcut icon" href="{{ url_for('static', filename='images/elements/favicon.ico') }}">
  	<link href="{{ url_for( 'static', filename='css/custom_styles.css' ) }}" rel="stylesheet">

    <!-- DATATABLES DYNAMIC / cf : https://datatables.net -->
    <!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.15/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.15/datatables.min.js"></script> -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.15/b-1.3.1/cr-1.3.3/fh-3.1.2/r-2.1.1/sc-1.4.2/se-1.2.2/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.15/b-1.3.1/cr-1.3.3/fh-3.1.2/r-2.1.1/sc-1.4.2/se-1.2.2/datatables.min.js"></script>

    <!-- BOOTSTRAP SELECT BUTTONS FOR TABLE -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
    <!-- (Optional) Latest compiled and minified JavaScript translation files -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/i18n/defaults-*.min.js"></script> -->

    
    <!-- LOCAL SYNAPSE SCRIPTS -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/index_scripts.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/datatables_scripts.js') }}"></script>



  	<style>

      {% include "styles_app.css" %}

      #three-container {
        position: fixed;
        top : 0 ;
      }

    </style>



  </head>

    <!-- MODAL LOADER -->
    <!-- { % include "modal_loader.html" % } -->

    
  <header>

    <!-- NAVBAR -->
    {% include "navbar_sidebar.html" %}

  </header>


  <body id="body" >

    {% include "modal_loader.html" %}

    
  	<!-- CONTENTS -->
  	<div class="container-fluid" id="three-container">


      <div class="row" id="row-main"  >

        <!-- id="row-main" -->
	      {% block content %}{% endblock %}

      </div>

  	</div>



  	<!-- FOOTER --------------------------------------------------------------------- -->

    <!-- end of footer-->



  	<!-- MODALS --------------------------------------------------------------------- -->
    
    
    {% include "modal_intro_.html" %}
    {% include "modal_title.html" %}
    {% include "modal_howto.html" %}
    {% include "modal_about.html" %}
    {% include "modal_infos_notice.html" %}
    
    {% if isUser %}
      {% include 'modal_update_aloes.html'%}
      {% include 'modal_update_user.html'%}
      {% include 'modal_update_user_account.html'%}
      {% if isAdmin %}
        {% include 'modal_admin.html'%}
      {% endif %}
    {% else %}
      <!-- { % include "modal_intro.html" % } -->
      {% include 'modal_login.html'%}
      {% include 'modal_register.html'%}
    {% endif %}

    {% include 'modal_add_item.html' %}
    
    
    <!-- {% with messages = get_flashed_messages(with_categories = true) %}
      {% if messages %}

        {% for category, message in messages %}
          <alert class="alert alert-{{ category }} alert-dismissible text-center" role="alert">
            <button type="button"
              class="close"
              data-dismiss="alert"
              aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>

            <strong>
              {{ message }}
            </strong>

          </alert>
        {% endfor %}

      {% endif %}
    {% endwith %} -->



  </body>




</html>
