

<!-- JQUERY  -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>


<!--

cf custom vertex shader attributes :
	DRAW CALL : https://github.com/mrdoob/three.js/blob/master/examples/webgl_buffergeometry_drawcalls.html

	SHADERS ATTRIBUTES
		CUSTOM ATTRIBUTES POINTS 1 : https://github.com/mrdoob/three.js/blob/master/examples/webgl_custom_attributes.html
		CUSTOM ATTRIBUTES POINTS 2 : https://github.com/mrdoob/three.js/blob/master/examples/webgl_custom_attributes_points2.html
		CUSTOM ATTRIBUTES POINTS 3 : https://github.com/mrdoob/three.js/blob/master/examples/webgl_custom_attributes_points3.html

		AEROTWIST TUTO 1 : https://aerotwist.com/tutorials/an-introduction-to-shaders-part-1/
		AEROTWIST TUTO 2 : https://aerotwist.com/tutorials/an-introduction-to-shaders-part-2/

		TUTO YOUTUBE : http://blog.cjgammon.com/threejs-custom-shader-material

 -->

	{% include "synapse_3D_.html" %}
