
<div>
  <!--FORM LOGIN-->
  <form class="form-horizontal form_login"
        id="form_login"
        action = "{{ url_for('index') }}"
        method = "post"
        name   = "login">

    <input type="hidden" name="req_type" value="log">
    {{ loginForm.hidden_tag() }}


    <!-- <div class="form-group">
      <label for="userName" class="col-sm-3 control-label">pseudo</label>
      <div class="col-sm-9">
        { { loginForm.userName } }
      </div>
    </div> -->

    <div class="form-group">
      <label for="userEmail" class="col-sm-3 control-label">email</label>
      <div class="col-sm-8">
        {{ loginForm.userEmail }}
      </div>
    </div>

    <!-- <div class="form-group">
      <label for="userCard" class="col-sm-3 control-label">n° de carte</label>
      <div class="col-sm-8">
        { { loginForm.userCard } }
      </div>
    </div> -->


    <div class="form-group">
      <label for="userPassword" class="col-sm-3 control-label">password</label>
      <div class="col-sm-8">
        {{ loginForm.userPassword }}
      </div>
    </div>




    <div class="form-group">

      <div class="col-sm-offset-3 col-sm-8"> <!-- LOG IN -->
        <button type="button"
                class="btn btn-success btn-block login_button"
                data-loading-text="connection et récupération de vos données..."
                >
          Se connecter <!-- type="submit" -->
        </button>
      </div>

    </div>


  </form>


  <div class="col-sm-offset-3 col-sm-9">
    Nouvel utilisateur ? vous pouvez vous
    <a  class="register_trigger "
        data-toggle="modal"
        data-target="#register_form"
        style="color:grey"
      > enregistrer ici </a>
  </div>
  <br>


</div>
