
<div>
  <!--FORM LOGIN-->
  <form class="form-horizontal"
        id="form_login"
        action = "{{ url_for('index') }}"
        method = "post"
        name   = "login">

    <input type="hidden" name="req_type" value="log">
    {{ loginForm.hidden_tag() }}


    <div class="form-group">
      <label for="userName" class="col-sm-2 control-label">pseudo</label>
      <div class="col-sm-10">
        {{ loginForm.userName }}
      </div>
    </div>

    <div class="form-group">
      <label for="userCard" class="col-sm-2 control-label">n° de carte</label>
      <div class="col-sm-10">
        {{ loginForm.userCard }}
      </div>
    </div>


    <div class="form-group">
      <label for="userPassword" class="col-sm-2 control-label">password</label>
      <div class="col-sm-10">
        {{ loginForm.userPassword }}
      </div>
    </div>




    <div class="form-group">

      <div class="col-sm-offset-2 col-sm-10"> <!-- LOG IN -->
        <button type="button"
                id="login_button"
                class="btn btn-success btn-block"
                data-loading-text="connection et récupération de vos données..."
                >
          Se connecter <!-- type="submit" -->
        </button>
      </div>

    </div>


  </form>

</div>
