<div class="modal fade" id="update_search_form" tabindex="-1" role="dialog" aria-labelledby="update_search_form_label">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
      
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
      
              <h3 class="modal-title text-center"
                  id="update_user_form">
                ajouter un titre à votre parcours
              </h3>
      
            </div>
      
            <div class="modal-body">
      
      
      
      
              <!-- <button class="btn btn-default btn-block"
                      type="button"
                      data-toggle="collapse"
                      data-target="#collapse_refresh_history"
                      aria-expanded="false"
                      aria-controls="collapse_refresh_history">
                mettre à jour à partir de mes emprunts enregistrés sur Aloes
              </button>
      
      
              <div  class="collapse"
                    id="collapse_refresh_history"
                    >
                <br>
                { % include "refresh_history.html" % }
              </div> -->
      
      
      
              <!-- <br>
              { % include "button_add_item.html" % }
              <br> -->