<div    class="modal centered "
        id="mod_intro"
        tabindex="-1"
        role="dialog"
        aria-labelledby="mod_title">

<div class="modal-dialog" role="document" style="width:65%"> <!-- style="width:80%" -->

<div class=" noshadow"> <!-- loader_modal_div -->

    <div class="modal-body text-center" style="margin-top:-3%" >


        <div>
            <img  src="{{ url_for('static', filename='images/logo_index.png') }}" 
                  style="max-height : 200px ;" >
        </div>
        
        <br>

        <hr>

        <h3 class="" style="color:white ; margin-bottom : 0px">
            <!-- La Bibliothèque de St-Herblain vous dévoile son catalogue ... <strong> en 3D </strong> -->
            Synapse – La Bibliothèque en 3D –
        </h3>
        <h3 class="lead" style="color:white ; margin-bottom : 20px ; font-size : 19px ">
            <!-- <br> <i class="fa fa-minus fa-sm" area-hidden="true"></i> -->
            <!-- un projet artistique et expérimental <br>
            pour naviguer au sein de la mémoire collective qu'est votre bibliothèque,<br>
            ici parmi {{ basic_stats["count_notices"] }} ouvrages et {{ basic_stats["count_users"] }} parcours de lectures -->

            Visualisez d’un seul regard l’ensemble des documents  de La Bibliothèque dans un univers en 3D. <br>
            Chaque point représente un document, chaque couleur une famille documentaire ou une thématique. <br>
            Synapse c’est autour de 145 000 références en mouvement, mises à jour quotidiennement. <br>
            Parcourez cet espace en vous  approchant des formes, en vous en éloignant, en les contournant. <br>
            Elles contiennent ce que vous avez lu, regardé ou écouté et tout ce qu’il vous reste à découvrir.

        </h3>

        {% if isTeasingOff %}
        <h3 class="" style="color:white ; margin-bottom : 0px">
            Synapse – Vous parmi ces collections –
        </h3>
        <h3 class="lead" style="color:white ; margin-bottom : 20px ; font-size : 19px ">
            
            Vous avez aimé ce livre, ce jeu, cette œuvre et l’un vous a conduit à l’autre. <br>
            Explorez cet espace, connectez-vous et enrichissez cette data visualisation collaborative. <br>
            Votre ligne se forme parmi les lignes d’autres usagers. <br>
            Synapse est ouvert à tous. Pas besoin de carte d’abonné pour participer.  <br>
            Recherchez un document et ajoutez-le à votre parcours. <br>
            Si vous êtes inscrit à 
            <strong><a href="http://www.la-bibliotheque.com" target="_blank" class="">La Bibliothèque</a></strong>, 
            vous pouvez sélectionner dans votre historique d’emprunts les documents que vous avez le plus aimés.
             
        </h3>

        {% else %}

        <h3 class="" style="color:white ; margin-bottom : 0px">
            Synapse – PLUS que La Bibliothèque en 3D –
        </h3>
        <h3 class="lead" style="color:white ; margin-bottom : 20px ; font-size : 19px ">
            
            Dans le cadre de la Nantes Digital Week, Synapse vous offrira davantage qu’une exploration <br>
            en invitant chacun d’entre vous à enrichir cette visualisation.<br>
            Mais pour cela, <br>
            <strong>Samedi 16 septembre </strong><br>
            Rendez-vous à la médiathèque Charles-Gautier-Hermeland <br>
            de 10h à 12h et de 14h à 19h et en ligne sur <br>
            <strong><a href="http://www.la-bibliotheque.com" target="_blank" class="">la-bibliotheque.com</a></strong>
             
        </h3>

        {% endif %}

        <hr> 

        
        <!-- <hr> -->

        <br>

        <!-- <div class="row">

            <div class="col-sm-4 col-sm-offset-2">
                <button class="btn btn-block btn-default"
                        data-toggle="modal"
                        data-target="#login_form"
                        >
                    ajoutez votre parcours
                </button>
            </div>

            <div class="col-sm-4 col-sm-offset-1">
                <button class="btn btn-block btn-default"
                        data-toggle="modal"
                        data-target="#login_form"
                        >
                    ajoutez votre parcours
                </button>
            </div>

        </div> -->

        <div style="margin-top:0px" id="_howto_next" >
                
            <!-- <h3 class="text-center" style="margin-top:30px">
                <a data-dismiss="modal">× commencer à explorer {{ app_metas.title }} ×</a>
            </h3> -->
        

            {% if not isUser %}
            
                {% if isTeasingOff %}
                <h3 class="text-center" style="margin-top:10px">
                    <!-- <a class="log_from_howto">× je voudrais voir mon propre parcours ×</a> -->
                    <span class="label label-default">                            
                        <a class="log_from_howto">× PARTICIPEZ ×</a>
                    </span>
                </h3>
                {% endif %}

            <h3 class="text-center" style="margin-top:10px">

                {% if isTeasingOff %}
                    <a data-dismiss="modal">× découvrez {{ app_metas.title }} ×</a>
                {% else %}
                    <span class="label label-default">
                        <a data-dismiss="modal">× DECOUVREZ {{ app_metas.title | upper }} ×</a>
                    </span>
                {% endif %}
            </h3>

            <!-- <h3 class="text-center" style="margin-top:10px">
                <a class="register_trigger">× se créer un compte ×</a>
            </h3> -->

            {% else %}

            <h3 class="text-center" style="margin-top:10px">
                <a data-dismiss="modal">× je retourne à {{ app_metas.title }} ×</a>
            </h3>

            {% endif %}
            
            <!-- <br> -->

        </div>

        <h3 >
            <button  
                type="button" style="color:white ; margin-bottom: 10px"  
                class="btn btn-lg btn-link bstooltip no-higlight open_howto"
    
                data-trigger='manual'
                data-tooltip="tooltip"
                data-placement="left"
                title="comment utiliser {{ app_metas.title }} ?"
                data-container="body"
                >
                <i class="fa fa-info-circle fa-lg" area-hidden="false"></i>
            </button>

            <button  
                type="button" style="color:white ; margin-bottom: 10px"  
                class="btn btn-lg btn-link bstooltip no-higlight open_intro"

                data-trigger='manual'
                data-tooltip="tooltip"
                data-placement="bottom"
                title="pour une meilleure plongée dans {{ app_metas.title }} mettez votre navigateur en mode plein écran"
                data-container="body"
                >
                <i class="fa fa-asterisk fa-lg" area-hidden="false"></i>
            </button>

            <button  
                type="button" style="color:white ; margin-bottom: 10px"  
                class="btn btn-lg btn-link bstooltip no-higlight open_about"

                data-trigger='manual'
                data-tooltip="tooltip"
                data-placement="right"
                title="à propos du projet {{ app_metas.title }}"
                data-container="body"
                >
                <i class="fa fa-question-circle fa-lg" area-hidden="false"></i>
            </button>
        </h3>
    


        <hr>
        
            <br>
            
            <div class="row" style="margin-top:0px">
            
                <a  href="http://www.jpylab.com" target="_blank"
                class="bstooltip"
                data-trigger='manual'
                data-tooltip="tooltip"
                data-placement="left"
                title="réalisation : Julien Paris"
                data-container="body"
                >            
                    <img  src="{{ url_for('static', filename='images/logo_jpy.png') }}" style="max-height:55px ; margin: 15px" >
                </a>

                <a href="http://www.la-bibliotheque.com" target="_blank">   
                    <img  src="{{ url_for('static', filename='images/logo_hermeland.gif') }}" style="max-height:70px ; margin:15px">
                </a>
            
                <a href="https://www.saint-herblain.fr" target="_blank">            
                    <img  src="{{ url_for('static', filename='images/logo_st_herblain.png') }}" style="max-height:70px ; margin:15px">
                </a>
                
                <a href="https://www.lecolededesign.com" target="_blank">
                    <img  src="{{ url_for('static', filename='images/logo_ecole_design.png') }}" style="max-height:70px ; margin:15px">
                </a>
            
                <a href="http://www.stereolux.org" target="_blank">            
                    <img  src="{{ url_for('static', filename='images/logo_stereolux.png') }}" style="max-height:55px ; margin:15px">
                </a>
                
            </div>

            <div class="row" style="margin-top:10px">
                        
                <a href="https://www.mobilis-paysdelaloire.fr" target="_blank">            
                    <img  src="{{ url_for('static', filename='images/logo_mobilis_.png') }}" style="max-height:55px ; margin:15px">
                </a>

                <a href="http://www.univ-nantes.fr" target="_blank">            
                    <img  src="{{ url_for('static', filename='images/logo_univ.png') }}" style="max-height:55px ; margin:15px">
                </a>
                
                <a href="http://www.iutlaroche.univ-nantes.fr" target="_blank">            
                    <img  src="{{ url_for('static', filename='images/logo_iut.png') }}" style="max-height:55px ; margin:15px">
                </a>

            </div>

    </div>

</div>
</div>
</div><!-- END MODAL LOADER -->
<!-- END MODAL TITLE -->