<div class="modal fade  "
      id="mod_howto"
      tabindex="-1"
      role="dialog"
      aria-labelledby="mod_howto">

  <div class="modal-dialog modal-lg " role="document">

    <div class="modal-content modal_transparent ">


      <div class="modal-body text-center" style="color:white ; margin-bottom:200px" >

          
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:white">
            <span aria-hidden="true">x</span>
          </button>

          <img  src="{{ url_for('static', filename='images/logo_index.png') }}" 
          style="margin-top:20px ; margin-bottom: 20px ;  max-height : 85px ;" >

          <hr>
          <br>
          <h3 class="" style="color:white">
              Que trouve-t-on dans {{app_metas.title}} ?
              <button     type="button"
                        class="btn btn-link bstooltip no-higlight open_intro"
                        style="color:white" 

                        data-trigger='manual'
                        data-tooltip="tooltip"
                        data-placement="right"
                        title="retour à l'accueil "
                        data-container="body"
                        >
                <i class="fa fa-asterisk fa-lg" area-hidden="true"></i>
            </button>
          </h3>

          <br>

          <hr>

          <div style="margin-top:40px ; margin-bottom:40px " id="howto_next" >
            
            <h3 class="lead text-left" style="color:white ; margin-left: 60px">    
            {% include "_howto.html" %}

          </div>
        
          <hr>


            <div style="margin-top: 20px">

              {% if not isUser %}

              {% if isTeasingOff %}
                <h3 class="text-center" style="margin-top:10px">
                    <a class="log_from_howto">× je voudrais voir mon propre parcours ×</a>
                </h3>
              {% endif %}
              <h3 class="text-center" style="margin-top:10px">
                  <a data-dismiss="modal">× je retourne à {{ app_metas.title }} ×</a>
              </h3>

              {% else %}

              
              <h3 class="text-center" style="margin-top:10px">
                  <a data-dismiss="modal">× je retourne à {{ app_metas.title }} ×</a>
              </h3>

              {% endif %}


            </div>


      </div>

    </div> 

  </div>

</div>
<!-- END MODAL HOW_TO -->

