<div    class="modal centered "
        id="mod_title"
        tabindex="-1"
        role="dialog"
        aria-labelledby="mod_title">

    <div class="modal-dialog" role="document" style="width:55%"> <!-- style="width:80%" -->

        <div class=" noshadow"> <!-- loader_modal_div -->

            <div class="modal-body text-center" style="margin-top:45%" >


                <div>
                    <img  src="{{ url_for('static', filename='images/logo_index.png') }}" 
                          style="max-height : 200px ;" >
                    <button     type="button" 
                            class="btn btn-link bstooltip no-higlight open_intro"
                            style="color:white ; transform:translateY(-7px)"
        
                            data-trigger='manual'
                            data-tooltip="tooltip"
                            data-placement="right"
                            title="retour à l'accueil "
                            data-container="body"
                            >
                        <i class="fa fa-asterisk fa-lg" area-hidden="true" ></i>
                    </button>
                </div>
                
                <br>

                <hr>

                <br>
                
                <div class="row" style="margin-top:0px">
                
                    <a  href="http://www.jpylab.com" target="_blank"
                    class="bstooltip"
                    data-trigger='manual'
                    data-tooltip="tooltip"
                    data-placement="left"
                    title="réalisation : Julien Paris"
                    data-container="body"
                    >            
                        <img  src="{{ url_for('static', filename='images/logo_jpy.png') }}" style="max-height:55px ; margin: 15px" >
                    </a>

                    <a href="http://www.la-bibliotheque.com" target="_blank">   
                        <img  src="{{ url_for('static', filename='images/logo_hermeland.gif') }}" style="max-height:70px ; margin:15px">
                    </a>
                
                    <a href="https://www.saint-herblain.fr" target="_blank">            
                        <img  src="{{ url_for('static', filename='images/logo_st_herblain.png') }}" style="max-height:70px ; margin:15px">
                    </a>
                    
                    <a href="https://www.lecolededesign.com" target="_blank">
                        <img  src="{{ url_for('static', filename='images/logo_ecole_design.png') }}" style="max-height:70px ; margin:15px">
                    </a>
                
                    <a href="http://www.stereolux.org" target="_blank">            
                        <img  src="{{ url_for('static', filename='images/logo_stereolux.png') }}" style="max-height:55px ; margin:15px">
                    </a>
                    
                </div>

                <!-- <h3 style="color:white"> <span class="fa fa-code fa-sm" aria-hidden="true"></span> </h3> -->
                <!-- <h3 style="color:white"> & </h3> -->
                <!-- <h3 style="color:white"> <span class="fa fa-plus fa-lg" aria-hidden="true"></span> </h3> -->
                <!-- <br><hr> <br> -->

                <!-- <div class="text-center"> -->
                    <!-- <a  href="http://www.jpylab.com" target="_blank"
                        class="bstooltip"
                        data-trigger='manual'
                        data-tooltip="tooltip"
                        data-placement="right"
                        title="réalisation : Julien Paris"
                        data-container="body"
                        >            
                        <img  src="{{ url_for('static', filename='images/logo_jpy.png') }}" style="max-height:55px ; margin-top:30px ; margin-bottom: 10px" >
                    </a> -->
                <!-- </div> -->


                <!-- <a class="text-center" href="#title_next">
                    <h2 style="margin-top: 20px; margin-bottom: 50px; color:white">
                        <strong><span class="glyphicon glyphicon-menu-down" area-hidden="false"></span></strong>
                    </h2>
                </a>

                <div style="margin-bottom:100px">

                    <h3 class="" style="color:white" >
                        comment utiliser {{ app_metas.title }}
                    </h3>
                    <hr >
                    <h3 class="lead text-left" style="color:white ; margin-left: 40px" id="title_next">                              
                    { % include "_howto.html" % }
                
                </div> -->


            </div>

        </div>
    </div>
</div><!-- END MODAL LOADER -->
<!-- END MODAL TITLE -->