<div    class="modal centered "
        id="mod_title"
        tabindex="-1"
        role="dialog"
        aria-labelledby="mod_title">

    <div class="modal-dialog " role="document">

        <div class="loader_modal_div noshadow">

            <div class="modal-body text-center" >


                <div>
                    <img  src="{{ url_for('static', filename='images/logo_index.png') }}" 
                          style="max-height : 85px ;" >
                </div>
                
                <br><br>

                <hr>

                <br>
                
                <div class="row" style="margin-top:15px">
                
                    <a href="http://www.la-bibliotheque.com" target="_blank">   
                        <img  src="{{ url_for('static', filename='images/logo_hermeland.gif') }}" style="max-height:65px ; margin:15px">
                    </a>
                
                    <a href="https://www.saint-herblain.fr" target="_blank">            
                        <img  src="{{ url_for('static', filename='images/logo_st_herblain.png') }}" style="max-height:65px ; margin:15px">
                    </a>
                    
                    <a href="https://www.lecolededesign.com" target="_blank">
                        <img  src="{{ url_for('static', filename='images/logo_ecole_design.png') }}" style="max-height:65px ; margin:15px">
                    </a>
                
                    <a href="http://www.stereolux.org" target="_blank">            
                        <img  src="{{ url_for('static', filename='images/logo_stereolux.png') }}" style="max-height:55px ; margin:15px">
                    </a>
                    
                </div>

                <!-- <h3 style="color:white"> <span class="fa fa-code fa-sm" aria-hidden="true"></span> </h3> -->
                <!-- <h3 style="color:white"> & </h3> -->
                <h3 style="color:white"> <span class="fa fa-plus fa-lg" aria-hidden="true"></span> </h3>
                
                <div class="text-center">
                    <a href="http://www.jpylab.com" target="_blank">            
                        <img  src="{{ url_for('static', filename='images/logo_jpy.png') }}" style="max-height:55px ; margin:30px" >
                    </a>
                </div>

            </div>

        </div>
    </div>
</div><!-- END MODAL LOADER -->
<!-- END MODAL TITLE -->