<div    class="modal centered "
        id="mod_intro"
        tabindex="-1"
        role="dialog"
        aria-labelledby="mod_title">

<div class="modal-dialog" role="document" style="width:55%"> <!-- style="width:80%" -->

<div class=" noshadow"> <!-- loader_modal_div -->

    <div class="modal-body text-center" style="margin-top:10%" >


        <div>
            <img  src="{{ url_for('static', filename='images/logo_index.png') }}" 
                  style="max-height : 200px ;" >
        </div>
        
        <br>

        <hr>

        <h3 class="" style="color:white ; margin-bottom : 0px">
            La Bibliothèque de St-Herblain vous dévoile son catalogue ... <strong> en 3D </strong>
        </h3>
        <h3 class="lead" style="color:white ; margin-bottom : 20px">
            <!-- <br> <i class="fa fa-minus fa-sm" area-hidden="true"></i> -->
            un projet artistique et expérimental
            <br>
            pour naviguer au sein de la mémoire collective qu'est votre bibliothèque, 
            <br>
            ici parmi {{ basic_stats["count_notices"] }} ouvrages et {{ basic_stats["count_users"] }} parcours de lectures
        </h3>
        <hr> 

        
        <!-- <hr> -->

        <br>

        <!-- <div class="row">

            <div class="col-sm-4 col-sm-offset-2">
                <button class="btn btn-block btn-default"
                        data-toggle="modal"
                        data-target="#login_form"
                        >
                    ajoutez votre parcours
                </button>
            </div>

            <div class="col-sm-4 col-sm-offset-1">
                <button class="btn btn-block btn-default"
                        data-toggle="modal"
                        data-target="#login_form"
                        >
                    ajoutez votre parcours
                </button>
            </div>

        </div> -->

        <div style="margin-top:0px" id="_howto_next" >
                
            <!-- <h3 class="text-center" style="margin-top:30px">
                <a data-dismiss="modal">× commencer à explorer {{ app_metas.title }} ×</a>
            </h3> -->
        

            {% if not isUser %}
            
                {% if isTeasingOff %}
                <h3 class="text-center" style="margin-top:10px">
                    <!-- <a class="log_from_howto">× je voudrais voir mon propre parcours ×</a> -->
                    <span class="label label-default">                            
                        <a class="log_from_howto">× PARTICIPEZ ×</a>
                    </span>
                </h3>
                {% endif %}

            <h3 class="text-center" style="margin-top:10px">

                {% if isTeasingOff %}
                    <a data-dismiss="modal">× je découvre {{ app_metas.title }} ×</a>
                {% else %}
                    <span class="label label-default">
                        <a data-dismiss="modal">× je découvre {{ app_metas.title }} ×</a>
                    </span>
                {% endif %}
            </h3>

            <!-- <h3 class="text-center" style="margin-top:10px">
                <a class="register_trigger">× se créer un compte ×</a>
            </h3> -->

            {% else %}

            <h3 class="text-center" style="margin-top:10px">
                <a data-dismiss="modal">× je retourne à {{ app_metas.title }} ×</a>
            </h3>

            {% endif %}
            
            <!-- <br> -->

        </div>

        <h3 >
            <button  
                type="button" style="color:white ; margin-bottom: 10px"  
                class="btn btn-lg btn-link bstooltip no-higlight open_howto"
    
                data-trigger='manual'
                data-tooltip="tooltip"
                data-placement="left"
                title="Que trouve-t-on dans {{ app_metas.title }} ?"
                data-container="body"
                >
                <i class="fa fa-info-circle fa-lg" area-hidden="false"></i>
            </button>

            <button  
                type="button" style="color:white ; margin-bottom: 10px"  
                class="btn btn-lg btn-link bstooltip no-higlight open_intro"

                data-trigger='manual'
                data-tooltip="tooltip"
                data-placement="bottom"
                title="pour une meilleure plongée dans {{ app_metas.title }} mettez votre navigateur en mode plein écran"
                data-container="body"
                >
                <i class="fa fa-asterisk fa-lg" area-hidden="false"></i>
            </button>

            <button  
                type="button" style="color:white ; margin-bottom: 10px"  
                class="btn btn-lg btn-link bstooltip no-higlight open_about"

                data-trigger='manual'
                data-tooltip="tooltip"
                data-placement="right"
                title="à propos de {{ app_metas.title }}"
                data-container="body"
                >
                <i class="fa fa-question-circle fa-lg" area-hidden="false"></i>
            </button>
        </h3>
    


        <hr>
        
            <br>
            
            <div class="row" style="margin-top:0px">
            
                <a  href="http://www.jpylab.com" target="_blank"
                class="bstooltip"
                data-trigger='manual'
                data-tooltip="tooltip"
                data-placement="left"
                title="réalisation : Julien Paris"
                data-container="body"
                >            
                    <img  src="{{ url_for('static', filename='images/logo_jpy.png') }}" style="max-height:55px ; margin: 15px" >
                </a>

                <a href="http://www.la-bibliotheque.com" target="_blank">   
                    <img  src="{{ url_for('static', filename='images/logo_hermeland.gif') }}" style="max-height:70px ; margin:15px">
                </a>
            
                <a href="https://www.saint-herblain.fr" target="_blank">            
                    <img  src="{{ url_for('static', filename='images/logo_st_herblain.png') }}" style="max-height:70px ; margin:15px">
                </a>
                
                <a href="https://www.lecolededesign.com" target="_blank">
                    <img  src="{{ url_for('static', filename='images/logo_ecole_design.png') }}" style="max-height:70px ; margin:15px">
                </a>
            
                <a href="http://www.stereolux.org" target="_blank">            
                    <img  src="{{ url_for('static', filename='images/logo_stereolux.png') }}" style="max-height:55px ; margin:15px">
                </a>
                
            </div>

    </div>

</div>
</div>
</div><!-- END MODAL LOADER -->
<!-- END MODAL TITLE -->