<div class="modal fade "
id="mod_about"
tabindex="-1"
role="dialog"
aria-labelledby="mod_about">

<div class="modal-dialog modal-lg " role="document">

<div class="modal-content modal_transparent ">



<div class="modal-body text-center" style="color:white">

    
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:white">
      <span aria-hidden="true">x</span>
    </button>

    <img  src="{{ url_for('static', filename='images/logo_index.png') }}" 
    style="margin-top:-5px ; max-height : 85px ;" >

    <br><br>
    
    <hr>

    <h3 class="" style="color:white">
        <strong> à propos </strong>
        <button     type="button"
                    class="btn btn-link bstooltip no-higlight open_intro"
                    style="color:white" 

                    data-trigger='manual'
                    data-tooltip="tooltip"
                    data-placement="right"
                    title="retour à l'accueil "
                    data-container="body"
                    >
            <i class="fa fa-asterisk fa-lg" area-hidden="true"></i>
        </button>
    </h3>

        <h3 class="lead text-justify" style="color:white ; margin-left: 80px ; margin-right: 80px">
        
            <ul class="list-unstyled">

                <li> 
                    <blockquote>
                    <em>
                        « La synapse (du grec σύναψις, syn = ensemble et haptein = toucher, saisir ; signifiant connexion) 
                        désigne une zone de contact fonctionnelle qui s'établit entre deux neurones, 
                        ou entre un neurone et une autre cellule (cellules musculaires, récepteurs sensoriels…). » 
                    </em>
                    <br>
                    <footer class="text-right" style="color:white">Source : Wikipédia. </footer>
                </blockquote>
                        
                </li>
                
            </ul>
        </h3>


    <hr>

    <h3 class="" style="color:white">
            <strong> Synapse, histoire d’un cycle  </strong>
    </h3>
    
        <h3 class="lead text-justify" style="color:white ; margin-left: 80px ; margin-right: 80px">
            
            <ul class="list-unstyled">

                <li>
                    - Le livre et la lecture dans 5 ans – Cycle prospectif 
                </li>
                <br>
                <li>
                    En octobre 2016, Mobilis, l’École de design de Nantes, le Laboratoire Arts & Technologies de Stereolux et l’Université de Nantes – IUT de la Roche-sur-Yon, 
                    initiaient un cycle prospectif qui allait questionner les mutations engendrées par le numérique dans le domaine du livre et de la lecture. 
                    Cette démarche au format living lab à laquelle allait participer La Bibliothèque de Saint-Herblain devenait l’occasion de confronter les usages, idées et avis 
                    de différents acteurs du livre pour recueillir suffisamment de masse critique en vue du développement d’un prototype.
                </li>
                <li>
                    Autour de ce questionnement générique sur les effets de la culture numérique dans le domaine du livre et de la lecture, cinq thématiques allaient être explorées : 
                    Voir autrement, Lire ailleurs, Apprendre demain, Le livre vient à moi et Parler d’un livre.
                    À l’issue du cycle, chacune de ces thématiques devait aboutir à la production d’un prototype.
                        
                </li>

            </ul>
        </h3>


    <a class="text-center " href="#about_cycle">
        <h2 style="margin-top: 20px; margin-bottom: 30px; color:white">
            <strong><span class="glyphicon glyphicon-menu-down" area-hidden="false"></span></strong>
        </h2>
    </a>


    <h3 class="" id="about_cycle" style="color:white">
            <strong> La Bibliothèque dans le cycle  </strong>
    </h3>
    
        <h3 class="lead text-justify" style="color:white ; margin-left: 80px ; margin-right: 80px">
            
            <ul class="list-unstyled">

                <li>
                    À la faveur d’un certain nombre d’observations sur l’évolution des pratiques de lecture et d’écriture et portée par une attention forte à l’endroit du design graphique, 
                    La Bibliothèque souhaitait depuis longtemps ouvrir et enrichir ses envies et intuitions au contact d’une démarche axée sur le design d’expérience. 
                    C’est ainsi qu’elle s’est naturellement associée à la démarche prospective en livrant à l’intérêt des participants et partenaires une amorce de réflexion qui posait le défi suivant : 
                    <br>
                    <em>«  Et si nous inventions une interface numérique qui puisse rendre compte graphiquement des relations sensibles que chacun d’entre nous entretient avec les œuvres ? »</em>
                </li>

            </ul>
        </h3>

    <h3 class="" style="color:white">
            <strong> Le petit PLUS  </strong>
    </h3>
    
    <h3 class="lead text-justify" style="color:white ; margin-left: 80px ; margin-right: 80px">
          
        <ul class="list-unstyled">

            <li>
                Plan des Lectures et des univers sensibles
                – Réflexion préparatoire – Extraits
            </li>

            <br>
            
            <blockquote>
            <li>            
                <em>
                    « (…) La collection de La Bibliothèque se matérialise : au travers de rayonnages et de présentation mais aussi au travers d’un catalogue 
                    de références qui ne dit rien ou peu du contenu des œuvres et qui ne traduit en tous les cas jamais la relation sensible de chacun 
                    ni la manière dont se construisent les imaginaires quand les œuvres entrent en lien les unes avec les autres pour créer une méta-lecture 
                    intime et des ponts souterrains. Cette architecture des univers sensibles reposent sur des parcours invisibles : chacun avance 
                    sur une trajectoire plus ou moins linéaire ; certains aiment à creuser des sillons en lisant l’ensemble des livres écrits par un même auteur, 
                    quand les autres aiment les sommets et accumulent les types de lectures, d’autres encore cherchent des rivières et dans les lectures, des filets d’eau apaisants qu’ils vont regarder.
                    
                </em>
            </li>
            <br>
            <li>
                <em>
                    Comme la définition d’un mot posée dans un dictionnaire ne dit pas le goût des choses  et leurs expériences, 
                    l’intime de la relation à l’œuvre et les familles que chacun compose parmi les rencontres de lecture qu’il fait ne saurait être traduit par une somme 
                    uniformément présentée de références.   L’outil est une chose mais l’émotion une autre or,  entrer dans un livre c’est découvrir un univers, 
                    c’est faire la connaissance d’une autre sensibilité et parfois cheminer avec, en étant marqué non seulement  
                    par un emprunt mais par une empreinte qui s’inscrit dans un capital non seulement intellectuel mais sensible et dynamique. »
                </em>
                
            </li>
            </blockquote>
            <br>
            <li>
                …Et si La Bibliothèque récoltait les empreintes ! <br>
                Une voie d’exploration s’ouvrait. Les échanges et pistes de développement allaient faire fructifier cette idée.
            </li>
        </ul>
    </h3>

    <a class="text-center " href="#about_livinglab">
        <h2 style="margin-top: 20px; margin-bottom: 30px; color:white">
            <strong><span class="glyphicon glyphicon-menu-down" area-hidden="false"></span></strong>
        </h2>
    </a>


    <h3 class="" id="about_livinglab" style="color:white">
            <strong> Une méthode de travail – Le living lab </strong>
    </h3>
    
        <h3 class="lead text-justify" style="color:white ; margin-left: 80px ; margin-right: 80px">
            
            <ul class="list-unstyled">

                <li>
                    À partir du mois d’octobre 2016 jusqu’au mois de février 2017, le travail s’organisera dans l’alternance des temps théoriques (2 conférences), des temps d’ateliers usagers, du sprint créatif et du temps dédié au prototypage.
                    Le projet de La Bibliothèque prend forme. Un premier cahier des charges est rédigé. 
                    Si les premières options graphiques sont évoquées, le nom du prototype n’est pas encore arrêté. 
                    Puis à ce stade, nous ne savons pas encore qui acceptera de se lancer dans l’aventure de sa création.     
                </li>

            </ul>
        </h3>

    <br>

    <h3 class="" style="color:white">
            <strong> Un développeur - La rencontre avec Julien Paris </strong>
    </h3>
    
        <h3 class="lead text-justify" style="color:white ; margin-left: 80px ; margin-right: 80px">
            
            <ul class="list-unstyled">

                <li>
                    La rencontre avec Julien Paris sera décisive. Julien est architecte de formation puis devient développeur, chercheur et expérimentateur dans le domaine des données et des interfaces 3D. 
                    Le cahier des charges qui est confié à Julien ne mentionne pas la possibilité de développer le prototype dans un univers 3D. C’est la rencontre entre les ambitions de La Bibliothèque et la démarche recherche et développement de Julien qui posera d’emblée cette option comme une piste majeure à explorer.
                    Le prototype trouve son nom : Synapse.    
                </li>

            </ul>
        </h3>

    <br>

    <h3 class="" style="color:white">
            <strong> Un défi technologique et artistique </strong>
    </h3>
    
    <h3 class="lead text-justify" style="color:white ; margin-left: 80px ; margin-right: 80px">
          
        <ul class="list-unstyled">


            <li>
                La Bibliothèque compte près de 145 000 documents empruntables. Au gré de l’obsolescence des contenus et des nouvelles acquisitions, la collection évolue chaque jour. De la même manière, 
                la somme des emprunts des usagers doit pouvoir être interrogée en direct au moment même où l’usager se connecte à son compte.
            </li>
            <br>
            <li>
                Comment rendre graphique et vivante cette masse de données en perpétuelle évolution ? 
                Comment représenter une quantité de documents aussi considérable d’un seul coup d’œil au gré d’une navigation immersive ? 
                Comment permettre à chacun d’enrichir cette visualisation en écrivant son propre parcours de manière dynamique ?
                Le Synapse qui vous est proposé ici est la version {{ app_metas.version }} d’une application de data visualisation qui réalise le pari de la 3D appliquée à des données en mouvement.
            </li>
            <br>
            <li>
                <strong>Synapse c’est La Bibliothèque en 3D !</strong>
            </li>

        </ul>

    </h3>



    <a class="text-center " href="#about_next1">
        <h2 style="margin-top: 40px; margin-bottom: 50px; color:white">
            <strong><span class="glyphicon glyphicon-menu-down" area-hidden="false"></span></strong>
        </h2>
    </a>
    

    <hr>

    <h3 class="" id="about_next1" style="color:white">
        <strong> conception </strong>
    </h3>
    
        <h3 class="lead text-center" style="color:white ; margin-left: 80px ; margin-right: 80px">
            
            <ul class="list-unstyled">

                <li>
                    <a href="http://www.la-bibliotheque.com" target="_blank">
                        La Bibliothèque 
                    </a>
                </li>
                <li> 
                    <a href="http://www.lecolededesign.com" target="_blank">
                        École de design de Nantes 
                    </a>
                </li>
                <li>
                    <a href="http://www.univ-nantes.fr" target="_blank">
                        Université de Nantes 
                    </a>
                </li>
                <li> 
                    <a href="http://www.iutlaroche.univ-nantes.fr" target="_blank"> 
                        IUT de la Roche-sur-Yon
                    </a>
                </li>

            </ul>
            
        </h3>

    <br>


    <hr>

        <div >
            {% include "_realisation.html" %}
        </div>



    {% include "_partners.html" %}
    

    <a class="text-center" href="#about_next2">
        <h2 style="margin-top: 0px; margin-bottom: 30px; color:white">
            <strong><span class="glyphicon glyphicon-menu-down" area-hidden="false"></span></strong>
        </h2>
    </a>

    <hr>
    
    <h3 class="" style="color:white" id="about_next2">
            <strong> remerciements </strong>
    </h3>
    
    <h4 class="text-justify" style="color:white ; margin-left: 80px  ; margin-right: 80px">
            
        <ul class="list-unstyled">
            
            <li> 
                Emmanuelle Garcia - <em>Mobilis</em>
                <span class="fa fa-circle fa-sm" area-hidden="false"></span>

                Claudine Paque - <em>Université de Nantes</em>
                <span class="fa fa-circle fa-sm" area-hidden="false"></span>
                
                Laurent Neyssensas, Sandra Mellot - <em>Ecole de Design de Nantes </em>
                <span class="fa fa-circle fa-sm" area-hidden="false"></span>
                
                Martin Lambert, Boris Letessier - <em>Stereolux</em>
                <span class="fa fa-circle fa-sm" area-hidden="false"></span>
                
                Sonia Mourlan (directrice), 
                Magalie Badion,
                Laurent Hautbois, 
                Muriel Souchon 
                - <em>La Bibliothèque / Ville de Saint-Herblain</em>
                <span class="fa fa-circle fa-sm" area-hidden="false"></span>
                
                Maxime Lemonnier, Pascal Frémeaux, Christian Coipeau - <em>Service informatique / Ville de Saint Herblain</em>
                <span class="fa fa-circle fa-sm" area-hidden="false"></span>

                Damla Subasi Paris <span class="fa fa-heart fa-xs" area-hidden="false"></span> et <span class="fa fa-paw fa-sm" area-hidden="false"></span>
            </li>
            
        </ul>
        <br>
    
    </h4>


    <hr>

    <h3 class="" style="color:white" >
            <strong>technologies utilisées</strong>
    </h3>

    <h4 class="text-justify" style="color:white ; margin-left: 80px  ; margin-right: 80px ">
            
        <ul class="list-unstyled">
            
            <li> 
                <em>Python</em> : Flask, Pandas, Zeep, Flask-MySQLdb, Pymongo, APScheduler, Flask-socketIO, Gunicorn, Eventlet
                <span class="fa fa-circle fa-sm" area-hidden="false"></span>
                
                <em>Javascript</em> : Three.js, Datatables.js, Jquery, Socket-IO
                <span class="fa fa-circle fa-sm" area-hidden="false"></span>

                <em>Bases de données</em> : MongoDB (application), MySQL (notices et exemplaires), Web service Aloes (emprunts utilisateurs)
                <span class="fa fa-circle fa-sm" area-hidden="false"></span>

                <em>Serveur</em> : Ubuntu 16.04
                <span class="fa fa-circle fa-sm" area-hidden="false"></span>

                <em>Autres</em> : Bootstrap, Bootstrap-select, Font-Awesome, Nginx, Git
                               
            </li>
            
        </ul>
        <br>
    
    </h4>

    <hr>

    <h3 class="" style="color:white">
            <strong>données</strong>
    </h3>

    <h4 class="text-justify" style="color:white ; margin-left: 80px  ; margin-right: 80px ">
            
        <ul class="list-unstyled">
            
            <li> 
                Pour améliorer votre navigation et pour des raisons de sécurité
                synapse dépose dans des cookies de session provisoires chiffrés 
                des données sur vos emprunts, 
                ainsi que votre numéro de carte de bibliothèque et votre email.
                <span class="fa fa-circle fa-sm" area-hidden="false"></span>                
                L'application synapse chiffre votre mot de passe 
                et interdit à quiconque autre que vous-même de consulter votre historique
                ou de le mettre à jour s'il ne possède pas vos mots de passe.
                <span class="fa fa-circle fa-sm" area-hidden="false"></span>                
                Tous les parcours d'emprunts sont anonymisés, 
                et les parcours affichés le sont à titre purement déclaratif.
                <span class="fa fa-circle fa-sm" area-hidden="false"></span>                
                Des données anonymes de fréquentation sont générées via Google Analytics.           
            </li>
            <br>

        </ul>
        <br>
    
    </h4>


    <hr>
    
    <h3 class="" style="color:white">
        <strong>contacts</strong>
    </h3>

    <h4 class="text-center" style="color:white ; margin-left: 80px  ; margin-right: 80px">
            
        <ul class="list-unstyled">

            <li> 
                <em>développeur et auteur du site</em> : 
                <a href="http://www.jpylab.com" target="_blank">
                Julien Paris (Jpy)
                </a>
            </li>

            <li>
                <em>La Bibliothèque - Ville de Saint-Herblain</em> : 
                <a href="http://www.la-bibliotheque.com" target="_blank">
                    http://www.la-bibliotheque.com
                </a>
                
            </li>
            <br>
            <li>
                <span class="fa fa-circle fa-sm" area-hidden="false"></span>
                <br><br>    
                <em>développement & déploiement de l'application : environ 29 jours</em>
                <br>
                <em>conception & suivi de l'exécution : environ 5 jours</em>
            </li>
        </ul>
        <br>
    </h4>

    <div class="text-center" style="margin-bottom:300px">
        <button     type="button"
            class="btn btn-link bstooltip no-higlight open_intro"
            style="color:white" 

            data-trigger='manual'
            data-tooltip="tooltip"
            data-placement="bottom"
            title="retour à l'accueil "
            data-container="body"
            >
            <i class="fa fa-asterisk fa-lg" area-hidden="true"></i>
        </button>
    </div>


    
    
</div>


</div> 

</div>

</div>
<!-- END MODAL ABOUT -->