<div class="modal fade in "
      id="mod_howto"
      tabindex="-1"
      role="dialog"
      aria-labelledby="mod_howto">

  <div class="modal-dialog modal-lg " role="document">

    <div class="modal-content modal_transparent ">

      <!-- <div class="modal-header">

      </div> -->


      <div class="modal-body text-center" style="color:white">

          <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:white">
            <span aria-hidden="true">&times;</span>
          </button> -->
          
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:white">
            <span aria-hidden="true">x</span>
          </button>
          <!-- <h1 class="text-center" id="ModalHowTo">
            {{ app_metas.title }}
          </h1>  -->

          <img  src="{{ url_for('static', filename='images/logo_index.png') }}" 
          style="margin-top:-5px ; max-height : 85px ;" >

          <h3 class="" style="color:white">
              visualisez vos emprunts dans l'ensemble du catalogue <br>de la bibliothèque de St-Herblain
              <!-- <br>
              en 3D interactive -->
          </h3>

          <br>

          <!-- <span class="fa fa-circle-o fa-md" area-hidden="true"></span> -->
          <hr>

          
          <h3 class="lead text-left" style="color:white ; margin-left: 80px">
            
            <ul class="list-unstyled">

              <li><span class="label label-default"><span class="glyphicon glyphicon-record" aria-hidden="true"></span></span>
                chaque point de couleur est une des <strong>{{ basic_stats["count_notices"] }} notices</strong> du catalogue</li>
              <li><span class="label label-default"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></span>
                chaque couleur représente <strong>une famille</strong> d'ouvrages</li>
              <li><span class="label label-default"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></span>
                les traits blancs représentent les <strong>emprunts</strong> des utilisateurs de {{ app_metas.title }} </li>

              <br>
                
              <li>
                <span class="label label-default"><span class="glyphicon glyphicon-move" aria-hidden="true"></span></span>                  
                <span class="label label-default"><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span></span>                  
                vous pouvez <strong>bouger</strong> autour de synapse ou <strong>zoomer</strong> avec la souris </li>
              
              <li>
                <span class="label label-default"><span class="glyphicon glyphicon-pause" aria-hidden="true"></span></span>                  
                <span class="label label-default"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></span>                  
                vous pouvez <strong>mettre en pause</strong> ou <strong> reprendre </strong> l'animation </li>
              
              <li><span class="label label-default"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span></span>                  
                vous pouvez modifier les <strong>réglages</strong> de l'animation (couleurs, vitesses, effets ... ) </li>

              <!-- <li><span class="label label-default"><span class="fa fa-mouse-pointer fa-md" aria-hidden="true"></span></span>                  
                vous pouvez <strong>cliquer sur chacun des points 3D</strong> pour voir les détails d'un ouvrage </li> -->

              <br>
              
              
              {% if not isUser %}

              <li>
                <span class="label label-default"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span></span>                  
                <span class="label label-default"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></span>                  
                vous pouvez vous
                <a class="log_from_howto"><strong> connecter </strong>  </a>
                ou vous 
                <a class="register_trigger"><strong> créer un compte </strong>  </a>
              </li>

              <li><span class="label label-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>                  
                vous pouvez <strong>rechercher</strong> un ouvrage</li>

              {% else %}


              <li><span class="label label-default"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></span>                  
                vous pouvez <strong>mettre à jour automatiquement</strong> votre propre parcours d'emprunts</li>
              <li><span class="label label-default"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></span>                  
                vous pouvez <strong>ajouter des envies</strong> à votre parcours d'emprunts</li>
              <li><span class="label label-default"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></span>                  
                le trait rouge représente <strong>votre propre parcours</strong> d'emprunts </li>

              <br>

              <li><span class="label label-default"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>                  
                vous pouvez modifier <strong> vos informations personnelles</strong> 
              </li>
              <li><span class="label label-default"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></span>                  
                vous pouvez vous <a href="{{ url_for('logout') }}"><strong> déconnecter</strong> </a>
                <!-- <a href="{{ url_for('logout') }}"><strong> déconnecter </strong>  </a> -->
              </li>
              
              {% endif %}

              
              <!-- <li><span class="label label-default"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></span>                  
                vous pouvez <strong>mettre à jour automatiquement</strong> votre propre parcours d'emprunts</li>
              <li><span class="label label-default"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></span>                  
                vous pouvez <strong>ajouter des envies</strong> à votre parcours d'emprunts</li> -->


            </ul>

          </h3>

          <hr>


          <h3 class="text-center" style="margin-top:30px">
              <a data-dismiss="modal">× commencer à explorer {{ app_metas.title }} ×</a>
          </h3>

          {% if not isUser %}
          
          <h3 class="text-center">
              <a class="log_from_howto">× se connecter pour mettre à jour votre propre parcours ×</a>
          </h3>
          <h3 class="text-center">
              <a class="register_trigger">× se créer un compte ×</a>
          </h3>

          {% endif %}

          <br>
          <hr> 

          <h3 class="text-center" style="margin-top:30px">
              <a href="http://www.la-bibliotheque.com" target="_blank">× retourner à la bibliothèque ×</a>
          </h3>


      </div>

      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-info btn-sm custom-btn" data-dismiss="modal">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          Fermer
        </button>
      </div> -->

    </div> 

  </div>

</div>
<!-- END MODAL HOW_TO -->

