<div class="modal fade "
id="mod_about"
tabindex="-1"
role="dialog"
aria-labelledby="mod_about">

<div class="modal-dialog modal-lg " role="document">

<div class="modal-content modal_transparent ">



<div class="modal-body text-center" style="color:white">

    
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:white">
      <span aria-hidden="true">x</span>
    </button>


    <img  src="{{ url_for('static', filename='images/logo_index.png') }}" 
    style="margin-top:-5px ; max-height : 85px ;" >

    <!-- <h3 class="" style="color:white">
        à propos de {{ app_metas.title }}
    </h3> -->

    <br><br>

    
    <hr>

    <h3 class="" style="color:white">
        <strong> histoire du projet </strong>
        <button     type="button"
                    class="btn btn-link bstooltip no-higlight open_intro"
                    style="color:white" 

                    data-trigger='manual'
                    data-tooltip="tooltip"
                    data-placement="right"
                    title="retour à l'accueil "
                    data-container="body"
                    >
            <i class="fa fa-asterisk fa-lg" area-hidden="true"></i>
        </button>
    </h3>

    <h3 class="lead text-justify" style="color:white ; margin-left: 80px ; margin-right: 80px">
      
        <ul class="list-unstyled">

            <li> {{ app_metas.title | title }} est un projet expérimental initié par 
                <a href="http://www.la-bibliotheque.com" target="_blank">
                    <strong>La Bibliothèque de Saint-Herblain </strong>
                </a>
                dans le cadre du cycle "Le livre et la lecture dans 5 ans". 
            </li>
            
            <br>    

            <li> 
                {{ app_metas.title | title }}
                est le fruit d’une question née de l’observation des pratiques de lecture : 
                parmi les centaines de milliers d'ouvrages contenus dans une bibliothèque, comment représenter les emprunts de chacun ? 
                L’opportunité du cycle
                <strong><a href="https://www.stereolux.org/cycle-livre-lecture" target="_blank">
                    "Le livre et la lecture dans 5 ans" 
                </a></strong>
                initié par Mobilis en octobre 2016 a permis à La Bibliothèque de
                confier cette question à la curiosité d’usagers et d’étudiants qui l’ont d'abord explorée, questionnée et détournée
                pour faire de ce bourgeon d’intuition la maquette d’un prototype. 
                <br>
                Cette première maquette a ensuite été interprétée et enrichie par le développeur, Julien Paris, 
                qui a réalisé ce prototype d'un <strong>espace 3D interactif</strong>, mouvant ou liquide, semi-géométrique, semi-organique.
            </li>    
            
            <li>
                <a class="text-center" href="#about_next">
                    <h2 style="margin-top: 20px; margin-bottom: 20px; color:white">
                        <strong><span class="glyphicon glyphicon-menu-down" area-hidden="false"></span></strong>
                    </h2>
                </a>
            </li>
            
            <li id="about_next"> 
                <strong>Le premier défi</strong> de ce projet était artistique et technique : rendre <strong>graphique</strong> et <strong>"vivante"</strong> 
                une somme considérable de données de manière interactive, 
                et de mettre continuellement ces données à jour.
                En effet l'ensemble du catalogue est mis à jour chaque nuit, et les nouveaux emprunts des lecteurs doivent pouvoir 
                être importés dans {{ app_metas.title }} à la demande.
                <br>
                <strong>Le second enjeu</strong> du projet était également de poser les bases d'un outil permettant à terme 
                l'<strong>exploration</strong> et l'<strong>analyse</strong> des parcours d'emprunts des utilisateurs,
                ainsi que la gestion d'un catalogue de manière visuelle pour les professionnels des bibliothèques. 
            </li>

            <br>
            
            <li> 
                {{ app_metas.title | title }} est dans sa version actuelle (<em>{{ app_metas.version }}</em>) une application de <strong>data visualisation</strong> de l'ensemble du catalogue 
                de La Bibliothèque de Saint-Herblain ({{ basic_stats["count_notices"] }} ouvrages à ce jour) 
                ainsi que des parcours d'emprunts des utilisateurs ({{ basic_stats["count_users"] }} parcours à ce jour).
            </li>


        </ul>
    </h3>



    <a class="text-center " href="#about_next1">
        <h2 style="margin-top: 40px; margin-bottom: 50px; color:white">
                <strong><span class="glyphicon glyphicon-menu-down" area-hidden="false"></span></strong>
        </h2>
    </a>

    <!-- <a class="text-center" href="#about_next2">
        <h2 style="margin-top: 50px; margin-bottom: 50px; color:white">
            <strong><span class="glyphicon glyphicon-menu-down" area-hidden="false"></span></strong>
        </h2>
    </a> -->

    <hr>

        <div id="about_next1">
            {% include "_realisation.html" %}
        </div>

    <!-- <hr>

    <h3 class="text-center" style="margin-top:30px">
        <a data-dismiss="modal">× revenir à {{ app_metas.title }} ×</a>
    </h3>
    <br> -->

    {% include "_partners.html" %}
    

    <a class="text-center" href="#about_next2">
        <h2 style="margin-top: 0px; margin-bottom: 30px; color:white">
            <strong><span class="glyphicon glyphicon-menu-down" area-hidden="false"></span></strong>
        </h2>
    </a>

    <hr>
    
    <h3 class="" style="color:white" id="about_next2">
            <strong> remerciements </strong>
    </h3>
    
    <h4 class="text-justify" style="color:white ; margin-left: 80px  ; margin-right: 80px">
            
        <ul class="list-unstyled">
            
            <li> 
                <em>Médiathèque Hermeland</em> : Sonia Mourlan, Magalie Badion, Laurent Hautbois, Muriel Souchon 
                <span class="fa fa-circle fa-sm" area-hidden="false"></span>
                
                <em>Ville de Saint Herblain</em> : Maxime Lemonnier 
                <span class="fa fa-circle fa-sm" area-hidden="false"></span>
                
                <em>Ecole de Design de Nantes </em>: Laurent Neyssensas 
                <span class="fa fa-circle fa-sm" area-hidden="false"></span>
                
                <em>Stereolux</em> : Martin Lambert, Boris Letessier 
                <span class="fa fa-circle fa-sm" area-hidden="false"></span>
                
                Damla Subasi Paris <span class="fa fa-heart fa-xs" area-hidden="false"></span> et 
                <span class="fa fa-paw fa-sm" area-hidden="false"></span>
            </li>
            
        </ul>
        <br>
    
    </h4>


    <hr>

    <h3 class="" style="color:white" >
            <strong>technologies utilisées</strong>
    </h3>

    <h4 class="text-justify" style="color:white ; margin-left: 80px  ; margin-right: 80px ">
            
        <ul class="list-unstyled">
            
            <li> 
                <em>Python</em> : Flask, Pandas, Zeep, Flask-MySQLdb, Pymongo, APScheduler, Flask-socketIO, Gunicorn, Eventlet
                <span class="fa fa-circle fa-sm" area-hidden="false"></span>
                
                <em>Javascript</em> : Three.js, Datatables.js, Jquery, Socket-IO
                <span class="fa fa-circle fa-sm" area-hidden="false"></span>

                <em>Bases de données</em> : MongoDB (application), MySQL (notices et exemplaires), Web service Aloes (emprunts utilisateurs)
                <span class="fa fa-circle fa-sm" area-hidden="false"></span>

                <em>Serveur</em> : Ubuntu 16.04
                <span class="fa fa-circle fa-sm" area-hidden="false"></span>

                <em>Autres</em> : Bootstrap, Bootstrap-select, Font-Awesome, Nginx, Git
                               
            </li>
            
        </ul>
        <br>
    
    </h4>

    <hr>

    <h3 class="" style="color:white">
            <strong>données</strong>
    </h3>

    <h4 class="text-justify" style="color:white ; margin-left: 80px  ; margin-right: 80px ">
            
        <ul class="list-unstyled">
            
            <li> 
                Pour améliorer votre navigation et pour des raisons de sécurité
                synapse dépose dans des cookies de session provisoires chiffrés 
                des données sur vos emprunts, 
                ainsi que votre numéro de carte de bibliothèque et votre email.
                <span class="fa fa-circle fa-sm" area-hidden="false"></span>                
                L'application synapse chiffre votre mot de passe 
                et interdit à quiconque autre que vous-même de consulter votre historique
                ou de le mettre à jour s'il ne possède pas vos mots de passe.
                <span class="fa fa-circle fa-sm" area-hidden="false"></span>                
                Tous les parcours d'emprunts sont anonymisés, 
                et les parcours affichés le sont à titre purement déclaratif.
                <span class="fa fa-circle fa-sm" area-hidden="false"></span>                
                Des données anonymes de fréquentation sont générées via Google Analytics.           
            </li>
            <br>

        </ul>
        <br>
    
    </h4>


    <hr>
    
    <h3 class="" style="color:white">
        <strong>contacts</strong>
    </h3>

    <h4 class="text-justify" style="color:white ; margin-left: 80px  ; margin-right: 80px">
            
        <ul class="list-unstyled">

            <li> 
                <em>développeur et auteur du site</em> : Julien Paris (Jpy)
                <span class="fa fa-circle fa-sm" area-hidden="false"></span>

                <em>responsable du serveur</em> : Maxime Lemonnier (Ville de St-Herblain)
                <span class="fa fa-circle fa-sm" area-hidden="false"></span>

                <em>coordination du projet</em> : Magalie Badion (Médiathèque Hermeland) 
                
            </li>
            <br>
            <li class="text-center">
                <span class="fa fa-circle fa-sm" area-hidden="false"></span>
                <br><br>    
                <em>développement & déploiement de l'application : environ 28 jours</em>
                <br>
                <em>conception & suivi de l'exécution : environ 5 jours</em>
            </li>
        </ul>
        <br>
    </h4>

    <div class="text-center" style="margin-bottom:300px">
        <button     type="button"
            class="btn btn-link bstooltip no-higlight open_intro"
            style="color:white" 

            data-trigger='manual'
            data-tooltip="tooltip"
            data-placement="bottom"
            title="retour à l'accueil "
            data-container="body"
            >
            <i class="fa fa-asterisk fa-lg" area-hidden="true"></i>
        </button>
    </div>


    
    
</div>


</div> 

</div>

</div>
<!-- END MODAL ABOUT -->