


<div class="modal fade" id="modal_admin" tabindex="-1" role="dialog" aria-labelledby="modal_admin">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
  
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
  
          <h3 class="modal-title text-center"
              id="admin_functions">
              FONCTIONNALITES RESERVEES AUX ADMINISTRATEURS/TRICES
          </h3>
  
        </div>
  
        <div class="modal-body">


          <div>
            <a class="btn btn-block btn-warning close_n_load" href="/update" role="button">
            update MySQl
            </a>
          </div>
          <br>
          <div>
            <a class="btn btn-block btn-danger close_n_load" href="/reset" role="button">
              reset all MySQl
            </a>
          </div>
          <br>
          <div>
            <a class="btn btn-block btn-danger close_n_load" href="/rewrite_JSON" role="button">
              rewrite json
            </a>
          </div>
  
  
        </div>
  
  
      </div>
    </div>
  </div><!-- END MODAL ADMIN -->
  