<div class="modal fade in "
      id="mod_howto"
      tabindex="-1"
      role="dialog"
      aria-labelledby="mod_howto">

  <div class="modal-dialog modal-lg " role="document">

    <div class="modal-content modal_transparent ">

      <!-- <div class="modal-header">

      </div> -->


      <div class="modal-body text-center" style="color:white">

          <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:white">
            <span aria-hidden="true">&times;</span>
          </button> -->
          
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:white">
            <span aria-hidden="true">x</span>
          </button>
          <!-- <h1 class="text-center" id="ModalHowTo">
            {{ app_metas.title }}
          </h1>  -->

          <img  src="{{ url_for('static', filename='images/logo_index.png') }}" 
          style="margin-top:-5px ; max-height : 85px ;" >

          <h3 class="" style="color:white">
              visualisez vos emprunts dans tout le catalogue de la bibliothèque 
              <!-- <br>
              en 3D interactive -->
          </h3>

          <br>

          <!-- <span class="fa fa-circle-o fa-md" area-hidden="true"></span> -->
          <hr>

          
          <h3 class="lead text-left" style="color:white ; margin-left: 80px">
            
            <ul class="list-unstyled">

              <li><span class="label label-default"><span class="glyphicon glyphicon-record" aria-hidden="true"></span></span>
                les points de couleurs représentent les 300.000+ documents du fonds </li>
              <li><span class="label label-default"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></span>
                les traits blanc représentent les emprunts des utilisateurs </li>
              <li><span class="label label-default"><span class="glyphicon glyphicon-move" aria-hidden="true"></span></span>                  
                vous pouvez bouger autour de synapse ou zoomer avec la souris </li>
              <li><span class="label label-default"><span class="glyphicon glyphicon-pause" aria-hidden="true"></span></span>                  
                vous pouvez mettre en pause l'animation </li>
              <li><span class="label label-default"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span></span>                  
                vous pouvez modifier les réglages de l'animation </li>
              <li><span class="label label-default"><span class="fa fa-mouse-pointer" aria-hidden="true"></span></span>                  
                vous pouvez cliquer sur chacun des points 3D pour voir les détails d'un ouvrage </li>

              <br>
              
              
              {% if not isUser %}
              <li><span class="label label-default"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>                  
                vous pouvez vous
                <a class="log_from_howto"><strong> connecter </strong>  </a>
                ou vous 
                <a class="register_trigger"><strong> créer un compte </strong>  </a>
              </li>

              {% else %}
              <li><span class="label label-default"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>                  
                vous pouvez modifier vos informations
              </li>
              <li><span class="label label-default"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></span>                  
                vous pouvez vous déconnecter
                <!-- <a href="{{ url_for('logout') }}"><strong> déconnecter </strong>  </a> -->
              </li>

              {% endif %}

              

              <li><span class="label label-default"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></span>                  
                vous pouvez mettre à jour votre propre parcours d'emprunts</li>
              <li><span class="label label-default"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></span>                  
                le trait noir représente votre propre parcours d'emprunts </li>

            </ul>

          </h3>

          <hr>


          <h3 class="text-center" style="margin-top:30px">
              <a data-dismiss="modal">× commencer à explorer le catalogue ×</a>
          </h3>

          {% if not isUser %}
          
          <h3 class="text-center">
              <a class="log_from_howto">× se connecter pour mettre à jour votre propre parcours ×</a>
          </h3>
          <h3 class="text-center">
              <a class="register_trigger">× se créer un compte ×</a>
          </h3>

          {% endif %}
          <br>
          <hr> 

          <h3 class="text-center" style="margin-top:30px">
              <a href="http://www.la-bibliotheque.com" target="_blank">× retourner à la bibliothèque ×</a>
          </h3>


      </div>

      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-info btn-sm custom-btn" data-dismiss="modal">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          Fermer
        </button>
      </div> -->

    </div> 

  </div>

</div>
<!-- END MODAL HOW_TO -->


<!-- <div class="cb_infos">

  <h3 class="text-right"><span aria-hidden="true" style="">&times;</span></h3>

  <h1> {{ app_metas.title }} </h1>
  
  <p>...
    <a title="jpy" href="http://www.jpylab.com/"> Julien </a>
    <br> 
    Le catalogue de La Bibliothèque en 3D.
  </p>
  
  <h2 class="cb_autres_cb">
    <a href="http://www.la-bibliotheque.com">× retour à la bibliothèque ×</a>
  </h2>
  
  <h2 class="cb_fermer_info"> × Lancer l’application × </h2>
  <br>
</div> -->