<div class="modal fade" id="update_search_form" tabindex="-1" role="dialog" aria-labelledby="update_search_form_label">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
      
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
      
              <h3 class="modal-title text-center"
                  id="update_user_form">
                ajoutez un titre à votre parcours
              </h3>
      
            </div>
      
            <div class="modal-body">
      
