


<div class="modal fade" id="update_aloes_form" tabindex="-1" role="dialog" aria-labelledby="update_aloes_form_label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

        <h3 class="modal-title text-center"
            id="update_aloes_form">
          mettez à jour votre historique d'emprunts <br>
          à {{ app_bib_infos.biblio }}
        </h3>

      </div>

      <div class="modal-body">


        {% include "refresh_history.html" %}


      </div>


    </div>
  </div>
</div><!-- END MODAL UPDATE_ALOES_FORM -->
