
<!-- cf tutorial : http://seegatesite.com/create-simple-cool-sidebar-menu-with-bootstrap-3/  -->
<!-- cf glyphicons : http://fontawesome.io/icons/  -->

<style>
  /* Toggle Styles */

  element {
    --width-sidebar: 150px;
  }

  .divider-vertical {
      height: 50px;                   /* any height */
      border-left: 2px solid white;   /* right or left is the same */
      float: left;                     /* so BS grid doesn't break */
      opacity: 0.5;                    /* optional */
      margin: 0 15px;                  /* optional */
  }


  .fixed-brand{
     width: auto;
  }
  /* Sidebar Styles */
  .sidebar-nav {
     position: absolute;
     top: 0;
     width: 300px;
     margin: 0;
     padding: 0;
     list-style: none;
     margin-top: 0px;
  }

  .no-margin{
     margin:0;
  }


  .dropdown-menu a {
    color : grey !important;
    /*display: block;*/
  }
  .dropdown-menu a:hover{
    color : skyblue !important;
  }

  .indent1 {
    padding-left: 10pt;
    }
  .indent2 {
    padding-left: 20pt;
    }






  .label-default{
    background-color: mediumaquamarine ;
    /* {{ app_colors.btn_info }}; */
  }

  .label-info{
    background-color: white ;
  }

  .navbar-brand{
    z-index: 25;
  }
  .progress{
    height: 5px;
    margin-bottom: 0;
  }

</style>


<!-- NAVBAR TOP -->
<nav class="navbar no-margin" id="navbar-text" >
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header fixed-brand">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" id="menu-toggle">
        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
      </button>

      <!-- <a class="navbar-brand" href="/">
        {{ app_metas.title }}
      </a> -->

      <a class="navbar-brand text-center"
         href="/"
         id="navbar-text">
          <img  src="{{ url_for('static', filename='images/logo_index.png') }}" 
                style="margin-top:-5px ; max-height : 35px ;" >
      </a>


  </div><!-- navbar-header-->

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

    <ul class="nav navbar-nav">

      <!-- <li class="divider-vertical"></li> -->


      <li>
          <button  type="button"
              class="btn btn-sm navbar-btn btn-link bstooltip no-higlight"
              data-toggle="modal"
              data-target="#mod_howto"

              data-trigger='manual'
              data-tooltip="tooltip"
              data-placement="bottom"
              title="Comment utiliser {{ app_metas.title }} ?"
              data-container="body"
              >
            <i class="fa fa-asterisk fa-lg" area-hidden="true"></i>
          </button>
      </li>


      <!-- <li class="divider-vertical"></li> -->


      {% if isUser != None %}
      
      <li>
        <button type="button"
                class="btn btn-default btn-sm navbar-btn bstooltip no-higlight"
                data-toggle="modal"
                data-target="#update_user_account_form"

                data-trigger='manual'
                data-tooltip="tooltip"
                data-placement="bottom"
                title="votre compte utilisateur "
                data-container="body"
                >
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>

          </button>
      </li>

      {% endif %}

    </ul>


    <ul class="nav navbar-nav navbar-center">
        
    {% with messages = get_flashed_messages(with_categories = true) %}
    {% if messages %} 
    {% for category, message in messages %}

    <li>

        <div class="alert alert-dismissible center-block text-center" role="alert">

            <strong>
            <p class="text-center p_alert alert_fade">
            <small>{{ message }}</small>
            </p>
            </strong>
        </div>

    </li>

    {% endfor %} 
    {% endif %} 
    {% endwith %}

    </ul>

    <ul class="nav navbar-nav navbar-right">

      <li>
          <button type="button"
                  class="btn btn-default btn-sm navbar-btn bstooltip no-higlight pause"
                  id="animation_pause_start"
                  data-trigger='manual'
                  data-tooltip="tooltip"
                  data-placement="bottom"
                  title="mettre en pause ou reprendre l'animation"
                  data-container="body"
                  >
              <span class="glyphicon glyphicon-pause" 
                    id="pause_start_span" 
                    aria-hidden="true">
              </span>
          </button>
      </li>
      
      <li>
          <button type="button"
                  class="btn btn-default btn-sm navbar-btn bstooltip no-higlight"
                  
                  data-toggle="collapse"
                  data-target="#collapseSettings"

                  data-trigger='manual'
                  data-tooltip="tooltip"
                  data-placement="bottom"
                  title="cliquer pour modifier l'animation"
                  data-container="body"
                  >
              <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
          </button>
      </li>
      
      {% if isUser != None %}
      <!-- <li>
          <p class="navbar-text" id="navbar-text" >
              bonjour
          </p>
      </li> -->

      <li>
          <button type="button"
                  class="btn btn-default btn-sm navbar-btn bstooltip no-higlight"
                  data-toggle="modal"
                  data-target="#update_aloes_form"

                  data-trigger='manual'
                  data-tooltip="tooltip"
                  data-placement="bottom"
                  title="mettre à jour votre historique automatiquement à partir de votre carte de bibliothèque"
                  data-container="body"
                  >
              <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>

          </button>
      </li>

      {% endif %}

      
      <li>
          <button type="button"
                  class="btn btn-default btn-sm navbar-btn bstooltip no-higlight"
                  data-toggle="modal"
                  data-target="#modal_add_item"

                  data-trigger='manual'
                  data-tooltip="tooltip"
                  data-placement="bottom"
                  title="{% if isUser != None %}ajouter manuellement des titres à votre parcours {% else %} rechercher un ouvrage {% endif %}"
                  data-container="body"
                  >
              <span class="glyphicon glyphicon-{% if isUser != None %}plus{% else %}search{% endif %}" aria-hidden="true"></span>
               
          </button>
      </li>


      {% if isUser != None %}

      <li>
          <button type="button"
                  class="btn btn-default btn-sm navbar-btn bstooltip no-higlight"
                  data-toggle="modal"
                  data-target="#update_user_form"

                  data-trigger='manual'
                  data-tooltip="tooltip"
                  data-placement="bottom"
                  title="votre parcours"
                  data-container="body"
                  >
              <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
               
          </button>
      </li>

      <li>
          <p style="margin-bottom: 0px" >
              <a  href="{{ url_for('logout') }}"
                  role="button"
                  class="btn btn-default navbar-btn btn-sm bstooltip"

                  data-trigger='manual'
                  data-tooltip="tooltip"
                  data-placement="bottom"
                  title="cliquer ici pour vous déconnecter"
                  data-container="body"
                  >

                  <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
              </a>
          </p>
      </li>

      {% endif %}

      {% if isUser == None %}
      <li>
          <button type="button"
                  class="btn btn-default btn-sm navbar-btn bstooltip no-higlight"
                  data-toggle="modal"
                  data-target="#login_form"

                  data-trigger='manual'
                  data-tooltip="tooltip"
                  data-placement="bottom"
                  title="cliquer pour se connecter"
                  data-container="body"
                  >
              <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
               <!-- log in -->
          </button>
      </li>

      <li>
          <button type="button"
                  class="btn btn-warning btn-sm navbar-btn bstooltip no-higlight"
                  data-toggle="modal"
                  data-target="#register_form"

                  data-trigger='manual'
                  data-tooltip="tooltip"
                  data-placement="bottom"
                  title="cliquer pour s'enregistrer"
                  data-container="body"
                  >
              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
               <!-- s'enregistrer -->
          </button>
      </li>
      {% endif %}



      <!-- <li class="divider-vertical"></li> -->

      <li>
          <a  role="button"
              class="bstooltip no-higlight"
              data-toggle="modal"
              data-target="#mod_about"

              data-trigger='manual'
              data-tooltip="tooltip"
              data-placement="bottom"
              title="à propos de {{ app_metas.title }}"
              data-container="body"
              >
            <i class="fa fa-copyright fa-lg" area-hidden="true"></i>
        </a>
      </li>

      <!-- <li>
        <a  href="https://gitlab.com/Julien_P/{{ app_metas.title }}" target="_blank"
            class="bstooltip" data-toggle="tooltip" data-placement="bottom"
            title="repo Gitlab">
          <i class="fa fa-gitlab fa-lg" area-hidden="true"></i>
        </a>
      </li> -->

      <li>
        <a  href="https://twitter.com/jparis_py" target="_blank"
            class="bstooltip" data-toggle="tooltip" data-placement="bottom"
            title="n'hésitez à nous écrire sur Twitter #{{ app_metas.title }} ">
          <i class="fa fa-twitter fa-lg" area-hidden="true"></i>
        </a>
      </li>

      <!-- <li class="divider-vertical"></li> -->

      <!-- <li>
        <a  href="https://www.paypal.me/jpydev" target="_blank"
            class="bstooltip" data-toggle="tooltip" data-placement="bottom"
            title="Faites un don pour aider un jeune développeur !">
          <i class="fa fa-paypal fa-lg" area-hidden="true"></i>
        </a>
      </li> -->




      <li> <a></a> </li>
    </ul>



  </div><!-- bs-example-navbar-collapse-1 -->

  <div class="progress nobar">
    <div  class="progress-bar progress-bar-striped progress-bar-warning active" role="progressbar"
          aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
    </div>
  </div>


</nav>








<script>

  $("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });

  $("#menu-toggle-2").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled-2");
    //$('#menu ul').hide();
  });

  $("#sidebar-wrapper").mouseleave(
    function() {
      //console.log("--leaving menu ...");
      $(this).find(".collapse").collapse('hide');
    }
  );


</script>
