



<!--FORM ALOES-->
<form class  = "form-horizontal"
      action = "{{ url_for('index') }}"
      method = "post"
      name   = "register">

  {{ aloesForm.hidden_tag() }}
  <input type="hidden" name="req_type" value="update_history">


  <div class="form-group">
    <!-- <label for="cardPassword" class="col-sm-6 control-label">le password de votre carte de bibliothèque</label> -->
    <div class="col-sm-offset-2 col-sm-8">
      {{ aloesForm.cardPassword }}
    </div>
  </div>



  <div class="form-group">

    <div class="col-sm-offset-2 col-sm-8 close_n_load">
      <button type="submit"
              class="btn btn-info btn-block close_n_load">
        cliquer pour mettre à jour la liste de vos emprunts
      </button>
    </div>


  </div>

</form>
