

<style>


#canvas3D {
				/*color: #cccccc;*/
				font-family:Monospace;
				font-size:13px;
				text-align:center;
				margin: 0px;
				overflow: hidden;
        color: #cccccc ;
        background-color: {{ app_colors.three_background }} ;
			}
div.dg.ac {
  top : 8%
}

/*
#info {
	position: absolute;
	top: 0px; width: 100%;
	padding: 5px;
}

a {
	color: #0080ff;
}
*/


</style>


<!-- cf : http://requirejs.org/docs/start.html -->
<!-- <script type="text/javascript" src="{{ url_for('static', filename='js/require.js') }}"></script> -->


<script type="text/javascript" src="{{ url_for('static', filename='js/three.js') }}"></script>
<!-- <script type="text/javascript" src="{{ url_for('static', filename='js/threejs/loaders/OBJLoader.js') }}"></script> -->
<!-- <script type="text/javascript" src="{{ url_for('static', filename='js/threejs/loaders/STLLoader.js') }}"></script> -->
<script type="text/javascript" src="{{ url_for('static', filename='js/threejs/Detector.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/threejs/libs/dat.gui.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/threejs/libs/stats.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/threejs/controls/OrbitControls.js') }}"></script>
<!-- <script type="text/javascript" src="{{ url_for('static', filename='js/threejs/controls/TrackballControls.js') }}"></script> -->



<div id="canvas3D">
</div>


<!-- vertex shader cf : https://www.clicktorelease.com/blog/vertex-displacement-noise-3d-webgl-glsl-three-js/ -->
<!-- cf too  : http://blog.2pha.com/experimenting-threejs-shaders-and-shadermaterial  -->
<!-- cf also :  https://github.com/Jam3/jam3-lesson-webgl-shader-threejs -->
<script type="x-shader/x-vertex" id="vertexshader">
	// uniform float amplitude;
	uniform   float time;
	attribute float size;
	attribute vec3  customColor;
	varying   vec3  vColor;
	void main() {
		vColor          = customColor;
		vec4 mvPosition = modelViewMatrix * vec4( position, 1.0 );

		gl_PointSize    = size * ( 400.0 / -mvPosition.z ) ;
		// gl_PointSize    = size + size * ( sin( time ) );
		gl_Position     = projectionMatrix * mvPosition;

	}
</script>

<script type="x-shader/x-fragment" id="fragmentshader">
	uniform vec3      color;
	uniform sampler2D texture;
	varying vec3      vColor;
	void main() {
		gl_FragColor = vec4( color * vColor, 1. );
		gl_FragColor = gl_FragColor * texture2D( texture, gl_PointCoord );
	}
</script>





<script>

  $(document).ready(function(){

    // FAKE LIGHT JSON NOTICES
		var json_fake = {
			"ART": {	"CODE": "A",
								"STATS": 14082,
								"CHILDREN": [
															{	"NOTICES": [ {"id_o": "1431521"}, {"id_o": "1444227"}, {"id_o": "0180420"} ],
																"CODE": "A.1",
																"STATS": 1420,
																"NAME": "GRAPHISME"
															},
															{	"NOTICES": [ {"id_o": "1235563"}, {"id_o": "0982809"}, {"id_o": "0982806"} ],
																"CODE": "A.2",
																"STATS": 2408,
																"NAME": "LOISIRS CREATIFS"
															}
														]
							},

			"JEU": {	"CODE": "J",
								"STATS": 7102,
								"CHILDREN": [
															{	"NOTICES": [ {"id_o": "1181008"}, {"id_o": "1181016"} ],
																"CODE": "J.0",
																"STATS": 3524,
																"NAME": "JEUX A REGLES"
															},
															{	"NOTICES": [ {"id_o": "1267718"}, {"id_o": "1267716"}, {"id_o": "1115620"} ],
																"CODE": "J.1",
																"STATS": 808,
																"NAME": "JEUX D'ASSEMBLAGE"
															}
														]
							},


			};

		// LOAD JSON NOTICES AS CALLBACK
    function preload_notices(callback){
      $.getJSON( "{{ url_for('static', filename='data/JSON_notices_nested.json') }}", function( json ) {
        console.log("... JSON_notices_nested loaded with getJSON");
        callback(json);
      }
    )};

		// START 3D RENDERING AFTER CALLBACK
		preload_notices(function(json) {

			//Use your data here
			console.log("... JSON_notices_nested after callback");
			var json_notices = json ;
			console.log( json_notices );


			var start = Date.now() ;

			var group;
			var container, controls, stats ;
			var particlesData = [] ;
			var camera, scene, renderer ;
			var raycaster, mouse;

			var WIDTH  = window.innerWidth;
			var HEIGHT = window.innerHeight;


			var pPositions, pSizes, pColors ;
			var particlesGeom  ;
			var pointCloud ;

			var positionsL, colorsL ;
			var linesMesh ;

			var maxParticleCount = 3000;
			var particleCount    = 300;
			var r = 800;
			var rHalf = r / 2;

			var velocityFactor = 1.1 ;

			var effectController = {
				showDots        : true,
				showLines       : true,
				minDistance     : 120,
				limitConnections: true,
				maxConnections  : 10,
				particleCount   : particleCount,
				velocityFactor  : 1
			};


			// DEFINE MATERIALS : SHADERMATERIAL AND USUAL MATERIAL
			// from : https://github.com/mrdoob/three.js/blob/master/examples/webgl_custom_attributes_points.html
			var materialPoints_shader = new THREE.ShaderMaterial( {

				uniforms: {
					time     : { type : "f" , value: 1.0 },
					amplitude: { value: 1.0 },
					color    : { value: new THREE.Color( 0xffffff ) },
					texture  : { value: new THREE.TextureLoader().load( "{{ url_for('static', filename='textures/sprites/spark1.png') }}" ) }
				},
				vertexShader:   document.getElementById( 'vertexshader' ).textContent,
				fragmentShader: document.getElementById( 'fragmentshader' ).textContent,
				blending:       THREE.AdditiveBlending,
				depthTest:      false,
				transparent:    true

			});

			var materialLines = new THREE.LineBasicMaterial( {
				vertexColors: THREE.VertexColors,
				blending    : THREE.AdditiveBlending,
				transparent : true
			} );



			init();

			animate();



			// GUI controls
      function initGUI() {

				var gui = new dat.GUI();
  			gui.add( effectController, "showDots"  ).onChange( function( value ) {  pointCloud.visible = value; } );
  			gui.add( effectController, "showLines" ).onChange( function( value ) { linesMesh.visible  = value; } );
  			gui.add( effectController, "minDistance"   , 10, 300 );
        gui.add( effectController, "velocityFactor", 0, 10 );
  			gui.add( effectController, "limitConnections" );
  			gui.add( effectController, "maxConnections", 0, 30, 1 );
  			gui.add( effectController, "particleCount" , 0, maxParticleCount, 1 ).onChange( function( value ) {
  				particleCount = parseInt( value );
  				particlesGeom.setDrawRange( 0, particleCount );
  			});

			}


			// INIT FUNCTION
      function init() {

      	initGUI();
  			container = document.getElementById( 'canvas3D' );

      	// set scene
  			camera = new THREE.PerspectiveCamera( 45, window.innerWidth / window.innerHeight, 1, 4000 );
  			camera.position.z = 1750;

  			scene = new THREE.Scene();
        scene.fog = new THREE.FogExp2( 0xcccccc, 0.002 );

        group = new THREE.Group();
  			scene.add( group );

        // var helper = new THREE.BoxHelper( new THREE.Mesh( new THREE.BoxGeometry( r, r, r ) ) );
  			// helper.material.color.setHex( 0x080808 );
  			// helper.material.blending = THREE.AdditiveBlending;
  			// helper.material.transparent = true;
  			// group.add( helper );


				// SET PARTICLES SYSTEM
				function addPointsCloud() {

					pPositions = new Float32Array( maxParticleCount * 3 );
					pColors    = new Float32Array( maxParticleCount * 3 );
					pSizes     = new Float32Array( maxParticleCount     );

					var vertex = new THREE.Vector3();
					var color  = new THREE.Color( 0xffffff );

					for ( var i = 0; i < maxParticleCount; i++ ) {

						vertex.x = Math.random() * r - r / 2;
						vertex.y = Math.random() * r - r / 2;
						vertex.z = Math.random() * r - r / 2;
						vertex.toArray( pPositions, i * 3 );

						// set color cf : https://www.w3schools.com/colors/colors_hsl.asp
						color.setHSL( 0., 0., 1. );
						color.toArray( pColors, i * 3 );

						// push to separate particlesData
	  				particlesData.push( {
	  					velocity: new THREE.Vector3( -1 + Math.random() , -1 + Math.random(),  -1 + Math.random() ),
							// rotPhi : , // in radians
							// rotThe : , // in radians
	  					numConnections: 0
	  				} );

						// set default size
						pSizes[i] = 100 ;

	  			}

					particlesGeom = new THREE.BufferGeometry();
					particlesGeom.setDrawRange( 0, particleCount );
	  			particlesGeom.addAttribute( 'position',    new THREE.BufferAttribute( pPositions, 3 ) ); //.setDynamic( true ) );
					particlesGeom.addAttribute( 'customColor', new THREE.BufferAttribute( pColors,    3 ) ); //.setDynamic( true ) );
					particlesGeom.addAttribute( 'size',        new THREE.BufferAttribute( pSizes,     1 ) ); //.setDynamic( true ) );



					// create the particle system with material
	  			pointCloud = new THREE.Points( particlesGeom, materialPoints_shader );

					// translate/rotate current pointCloud depending on its category
					// ...

	  			group.add( pointCloud );

				};

				//
				addPointsCloud() ;


				// create all connecting lines
				segmentsL  = maxParticleCount * maxParticleCount;
				positionsL = new Float32Array( segmentsL * 3 );
				colorsL    = new Float32Array( segmentsL * 3 );

        var linesGeom = new THREE.BufferGeometry();
  			linesGeom.addAttribute( 'position', new THREE.BufferAttribute( positionsL, 3 ).setDynamic( true ) );
  			linesGeom.addAttribute( 'color'   , new THREE.BufferAttribute( colorsL,    3 ).setDynamic( true ) );
  			linesGeom.computeBoundingSphere();
  			linesGeom.setDrawRange( 0, 0 );


  			linesMesh = new THREE.LineSegments( linesGeom, materialLines );
  			group.add( linesMesh );



        // RENDERER
  			renderer = new THREE.WebGLRenderer( { antialias: true, alpha : true } ); // alpha true for css background-color
  			renderer.setPixelRatio( window.devicePixelRatio );
  			renderer.setSize( WIDTH, HEIGHT );
  			renderer.gammaInput  = true;
  			renderer.gammaOutput = true;
  			container.appendChild( renderer.domElement );



				// CONTROLS
        controls = new THREE.OrbitControls( camera, container );
        // controls = new THREE.TrackballControls( camera, renderer.domElement );
  			controls.minDistance   = 100.0 ;
  			controls.maxDistance   = 3000.0;
  			controls.dampingFactor = 0.1   ;

        // set stats box
  			// stats = new Stats();
  			// container.appendChild( stats.dom );


        // raycasting for mouse interaction
				raycaster = new THREE.Raycaster();
				mouse     = new THREE.Vector2();

        window.addEventListener(   'resize',    onWindowResize, false );
        document.addEventListener( 'mousemove', onDocumentMouseMove, false );

      }


			// UI FUNCTIONS
      function onDocumentMouseMove( event ) {
      				event.preventDefault();
      				mouse.x =   ( event.clientX / WIDTH )  * 2 - 1;
      				mouse.y = - ( event.clientY / HEIGHT ) * 2 + 1;
      			}

      function onWindowResize() {
  			camera.aspect = WIDTH / HEIGHT ;
  			camera.updateProjectionMatrix();
  			renderer.setSize( WIDTH, HEIGHT );
  		}


      // ANIMATE FUNCTION
  		function animate() {

        var vertexpos    = 0;
  			var colorpos     = 0;
  			var numConnected = 0;

        for ( var i = 0; i < particleCount; i++ )
  				particlesData[ i ].numConnections = 0;

        for ( var i = 0; i < particleCount; i++ ) {

          // get the particle
  				var particleData = particlesData[i];
  				pPositions[ i * 3     ] += particleData.velocity.x * effectController.velocityFactor ;
  				pPositions[ i * 3 + 1 ] += particleData.velocity.y * effectController.velocityFactor ;
  				pPositions[ i * 3 + 2 ] += particleData.velocity.z * effectController.velocityFactor ;

          if ( pPositions[ i * 3 + 1 ] < -rHalf || pPositions[ i * 3 + 1 ] > rHalf )
  					particleData.velocity.y = -particleData.velocity.y;
  				if ( pPositions[ i * 3 ] < -rHalf || pPositions[ i * 3 ] > rHalf )
  					particleData.velocity.x = -particleData.velocity.x;
  				if ( pPositions[ i * 3 + 2 ] < -rHalf || pPositions[ i * 3 + 2 ] > rHalf )
  					particleData.velocity.z = -particleData.velocity.z;
  				if ( effectController.limitConnections && particleData.numConnections >= effectController.maxConnections )
  					continue;

          // Check collision
  				for ( var j = i + 1; j < particleCount; j++ ) {
  					var particleDataB = particlesData[ j ];
  					if ( effectController.limitConnections && particleDataB.numConnections >= effectController.maxConnections )
  						continue;
  					var dx = pPositions[ i * 3     ] - pPositions[ j * 3     ];
  					var dy = pPositions[ i * 3 + 1 ] - pPositions[ j * 3 + 1 ];
  					var dz = pPositions[ i * 3 + 2 ] - pPositions[ j * 3 + 2 ];
  					var dist = Math.sqrt( dx * dx + dy * dy + dz * dz );
  					if ( dist < effectController.minDistance ) {
  						particleData.numConnections++;
  						particleDataB.numConnections++;
  						var alpha = 1.0 - dist / effectController.minDistance;
  						positionsL[ vertexpos++ ] = pPositions[ i * 3     ];
  						positionsL[ vertexpos++ ] = pPositions[ i * 3 + 1 ];
  						positionsL[ vertexpos++ ] = pPositions[ i * 3 + 2 ];
  						positionsL[ vertexpos++ ] = pPositions[ j * 3     ];
  						positionsL[ vertexpos++ ] = pPositions[ j * 3 + 1 ];
  						positionsL[ vertexpos++ ] = pPositions[ j * 3 + 2 ];
  						colorsL[ colorpos++ ] = alpha;
  						colorsL[ colorpos++ ] = alpha;
  						colorsL[ colorpos++ ] = alpha;
  						colorsL[ colorpos++ ] = alpha;
  						colorsL[ colorpos++ ] = alpha;
  						colorsL[ colorpos++ ] = alpha;
  						numConnected++;
  					}
  				}
  			}

        linesMesh.geometry.setDrawRange( 0, numConnected * 2 );
  			linesMesh.geometry.attributes.position.needsUpdate  = true;
  			linesMesh.geometry.attributes.color.needsUpdate     = true;

				pointCloud.geometry.attributes.position.needsUpdate = true;

				requestAnimationFrame( animate );

        // stats.update();
  			render();

      }

			// RENDER FUNCTION
  		function render() {

				// UPDATE TIME VALUE IN UNIFORMS
  			var time = Date.now() * 0.01;

				materialPoints_shader.uniforms.time.value = .00025 * ( Date.now() - start )

				// INSTEAD OF ITERATING AT EACH FRAME CHANGE SIZE WITH TIME UNIFORM
				// var geometryP   = pointCloud.geometry  ;
				// var attributes  = geometryP.attributes ;
				// for ( var i = 0; i < attributes.size.array.length; i++ ) {
				// 	attributes.size.array[ i ] = 100 + 50 * Math.sin( 0.1 * i + time );
				// };
				// attributes.size.needsUpdate = true;


				raycaster.setFromCamera( mouse, camera );
				var intersects = raycaster.intersectObject( group );
        if ( intersects.length > 0 ) {
          console.log( "-X- intersecting");
        } else {

        }


  			// group.rotation.y = time * 0.1;
  			renderer.render( scene, camera );

  		}





    });


  }) ;




</script>
