

<style>


	#canvas3D {
					/*color: #cccccc;*/
					font-family:Monospace;
					font-size:13px;
					text-align:center;
					margin: 0px;
					overflow: hidden;
	        color: #cccccc ;
	        background-color: {{ app_colors.three_background }} ;
				}
	div.dg.ac {
	  top : 8%
	}

	/*
	#info {
		position: absolute;
		top: 0px; width: 100%;
		padding: 5px;
	}

	a {
		color: #0080ff;
	}
	*/


</style>


<!-- cf : http://requirejs.org/docs/start.html -->
<!-- <script type="text/javascript" src="{{ url_for('static', filename='js/require.js') }}"></script> -->



<script type="text/javascript" src="{{ url_for('static', filename='js/three.js') }}"></script>
<!-- <script type="text/javascript" src="{{ url_for('static', filename='js/threejs/loaders/OBJLoader.js') }}"></script> -->
<!-- <script type="text/javascript" src="{{ url_for('static', filename='js/threejs/loaders/STLLoader.js') }}"></script> -->
<script type="text/javascript" src="{{ url_for('static', filename='js/threejs/Detector.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/threejs/libs/dat.gui.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/threejs/libs/stats.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/threejs/controls/OrbitControls.js') }}"></script>
<!-- <script type="text/javascript" src="{{ url_for('static', filename='js/threejs/controls/TrackballControls.js') }}"></script> -->



<div id="canvas3D">
</div>






<!-- vertex shader cf : https://www.clicktorelease.com/blog/vertex-displacement-noise-3d-webgl-glsl-three-js/ -->
<!-- cf too  : http://blog.2pha.com/experimenting-threejs-shaders-and-shadermaterial  -->
<!-- cf also :  https://github.com/Jam3/jam3-lesson-webgl-shader-threejs -->
<script type="x-shader/x-vertex" id="vertexshader">
	// uniform float amplitude;
	attribute float size;
	attribute vec3  customColor;
	varying   vec3  vColor;
	void main() {
		vColor          = customColor;
		vec4 mvPosition = modelViewMatrix * vec4( position, 1.0 );
		gl_PointSize    = size * ( 300.0 / -mvPosition.z );
		gl_Position     = projectionMatrix * mvPosition;
	}
</script>

<script type="x-shader/x-fragment" id="fragmentshader">
	uniform vec3      color;
	uniform sampler2D texture;
	varying vec3      vColor;
	void main() {
		gl_FragColor = vec4( color * vColor, 0.5 );
		gl_FragColor = gl_FragColor * texture2D( texture, gl_PointCoord );
	}
</script>





<script>

  $(document).ready(function(){

    // LOAD JSON NOTICES

    // XXXX var json_notices = require( "{{ url_for('static', filename='data/JSON_notices_nested.json') }}" ); //with path

    // WORKING SOLUTION
    // $.getJSON( "{{ url_for('static', filename='data/JSON_notices_nested.json') }}", function (json) {
    //   console.log(json);
    // });


		var json_fake = {
											"ART": {	"CODE": "A",
																"STATS": 14082,
																"CHILDREN": [
																							{	"NOTICES": [ {"id_o": "1431521"}, {"id_o": "1444227"}, {"id_o": "0180420"} ],
																								"CODE": "A.1",
																								"STATS": 1420,
																								"NAME": "GRAPHISME"
																							},
																							{	"NOTICES": [ {"id_o": "1235563"}, {"id_o": "0982809"}, {"id_o": "0982806"} ],
																								"CODE": "A.2",
																								"STATS": 2408,
																								"NAME": "LOISIRS CREATIFS"
																							}
																						]
															},

											"JEU": {	"CODE": "J",
																"STATS": 7102,
																"CHILDREN": [
																							{	"NOTICES": [ {"id_o": "1181008"}, {"id_o": "1181016"} ],
																								"CODE": "J.0",
																								"STATS": 3524,
																								"NAME": "JEUX A REGLES"
																							},
																							{	"NOTICES": [ {"id_o": "1267718"}, {"id_o": "1267716"}, {"id_o": "1115620"} ],
																								"CODE": "J.1",
																								"STATS": 808,
																								"NAME": "JEUX D'ASSEMBLAGE"
																							}
																						]
															},


											};


    function preload_notices(callback){
      $.getJSON( "{{ url_for('static', filename='data/JSON_notices_nested.json') }}", function( json ) {
        console.log("... JSON_notices_nested loaded with getJSON");
        callback(json);
      }
    )};




    preload_notices(function(json) {

			//Use your data here
      console.log("... JSON_notices_nested after callback");
      var json_notices = json ;
      console.log( json_notices );


      var start = Date.now() ;

      var group;
  		var container, controls, stats ;
  		var particlesData = [] ;
  		var camera, scene, renderer ;
      var raycaster, mouse;

			var WIDTH = window.innerWidth;
			var HEIGHT = window.innerHeight;

			var pointCloud ;
  		// var positions, colors ;
  		// var particlesGeom  ;
  		// var particlePositions, particleSizes, particleColors ;
  		// var linesMesh ;


  		var maxParticleCount = 3000;
  		var particleCount = 300;
  		var r = 800;
  		var rHalf = r / 2;

      var velocityFactor = 1.1 ;

  		var effectController = {
  			showDots: true,
  			showLines: true,
  			minDistance: 120,
  			limitConnections: true,
  			maxConnections: 10,
  			particleCount: particleCount,
        velocityFactor: 1
  		};





  		init();
  		animate();


      function initGUI() {
  			var gui = new dat.GUI();
  			gui.add( effectController, "showDots" ).onChange( function( value ) { pointCloud.visible = value; } );
  			gui.add( effectController, "showLines" ).onChange( function( value ) { linesMesh.visible = value; } );
  			gui.add( effectController, "minDistance", 10, 300 );
        gui.add( effectController, "velocityFactor", 0, 10 );
  			gui.add( effectController, "limitConnections" );
  			gui.add( effectController, "maxConnections", 0, 30, 1 );
  			gui.add( effectController, "particleCount", 0, maxParticleCount, 1 ).onChange( function( value ) {
  				particleCount = parseInt( value );
  				particles.setDrawRange( 0, particleCount );
  			});
  		}

      function init() {

      	initGUI();
  			var container = document.getElementById( 'canvas3D' );

      	// set scene
  			camera = new THREE.PerspectiveCamera( 45, WIDTH / HEIGHT, 1, 4000 );
  			camera.position.z = 1750;

				scene = new THREE.Scene();
        scene.fog = new THREE.FogExp2( 0xcccccc, 0.002 );

        group = new THREE.Group();
  			scene.add( group );

        // var helper = new THREE.BoxHelper( new THREE.Mesh( new THREE.BoxGeometry( r, r, r ) ) );
  			// helper.material.color.setHex( 0x080808 );
  			// helper.material.blending = THREE.AdditiveBlending;
  			// helper.material.transparent = true;
  			// group.add( helper );






				var pPositions = new Float32Array( maxParticleCount * 3 );
				var pColors    = new Float32Array( maxParticleCount * 3 );
				var pSizes     = new Float32Array( maxParticleCount     );

				var vertex = new THREE.Vector3();
				var color  = new THREE.Color( 0xffffff );

				for ( var i = 0; i < maxParticleCount; i++ ) {

					// var x = Math.random() * r - r / 2;
  				// var y = Math.random() * r - r / 2;
  				// var z = Math.random() * r - r / 2;
					//
					// particlePositions[ i * 3     ] = x;
  				// particlePositions[ i * 3 + 1 ] = y;
  				// particlePositions[ i * 3 + 2 ] = z;

					vertex.x = Math.random() * r - r / 2;
					vertex.y = Math.random() * r - r / 2;
					vertex.z = Math.random() * r - r / 2;
					vertex.toArray( pPositions, i * 3 );

					// set color
					color.setHSL( 0.5, 0.5, 0.5 );
					color.toArray( pColors, i * 3 );

					// push to separate particlesData
  				particlesData.push( {
  					velocity: new THREE.Vector3( -1 + Math.random() , -1 + Math.random(),  -1 + Math.random() ),
						// rotPhi :
						// rotThe :
  					numConnections: 0
  				} );

					// set size
					pSizes[i] = 100 ;

  			}

				var particlesGeom = new THREE.BufferGeometry();
				// particlesGeom.setDrawRange( 0, particleCount );
  			particlesGeom.addAttribute( 'position',    new THREE.BufferAttribute( pPositions, 3 ) ); //.setDynamic( true ) );
				particlesGeom.addAttribute( 'customColor', new THREE.BufferAttribute( pColors,    3 ) ); //.setDynamic( true ) );
				particlesGeom.addAttribute( 'size',        new THREE.BufferAttribute( pSizes,     1 ) ); //.setDynamic( true ) );


				// from : https://github.com/mrdoob/three.js/blob/master/examples/webgl_custom_attributes_points.html
				var materialPoints_shader = new THREE.ShaderMaterial( {

					uniforms: {
						amplitude: { value: 1.0 },
						color:     { value: new THREE.Color( 0xffffff ) },
						texture:   { value: new THREE.TextureLoader().load( "{{ url_for('static', filename='textures/sprites/spark1.png') }}" ) }
					},
					vertexShader:   document.getElementById( 'vertexshader' ).textContent,
					fragmentShader: document.getElementById( 'fragmentshader' ).textContent,
					blending:       THREE.AdditiveBlending,
					depthTest:      false,
					transparent:    true

				});

				// // usual material
				// var materialPoints = new THREE.PointsMaterial( {
				// 	color: 0xFFFFFF,
				// 	size: 5,
				// 	// blending: THREE.AdditiveBlending,
				// 	transparent: true,
				// 	sizeAttenuation: false
				// } );



        // create the particle system with material
  			pointCloud = new THREE.Points( particlesGeom, materialPoints_shader );
				// pointCloud = new THREE.Points( particlesGeom, materialPoints );
  			group.add( pointCloud );


				// var segments = maxParticleCount * maxParticleCount;
  			// positions = new Float32Array( segments * 3 );

				// var geometry = new THREE.BufferGeometry();
  			// geometry.addAttribute( 'position', new THREE.BufferAttribute( positions, 3 ).setDynamic( true ) );
  			// geometry.addAttribute( 'color'   , new THREE.BufferAttribute( colors, 3    ).setDynamic( true ) );
				//
  			// geometry.computeBoundingSphere();
  			// geometry.setDrawRange( 0, 0 );
				//
				//
        // var materialLines = new THREE.LineBasicMaterial( {
  			// 	vertexColors: THREE.VertexColors,
  			// 	blending    : THREE.AdditiveBlending,
  			// 	transparent : true
  			// } );
  			// linesMesh = new THREE.LineSegments( geometry, materialLines );
  			// group.add( linesMesh );

        // renderer
  			renderer = new THREE.WebGLRenderer( { antialias : true, alpha : true } ); // alpha true for css background-color
  			renderer.setPixelRatio( window.devicePixelRatio );
  			renderer.setSize( WIDTH, HEIGHT );
  			renderer.gammaInput = true;
  			renderer.gammaOutput = true;
  			container.appendChild( renderer.domElement );


        controls = new THREE.OrbitControls( camera, container );

        // controls = new THREE.TrackballControls( camera, renderer.domElement );
  			controls.minDistance   = 100.0;
  			controls.maxDistance   = 3000.0;
  			controls.dampingFactor = 0.1;

        // set stats box
  			// stats = new Stats();
  			// container.appendChild( stats.dom );


        // raycasting for mouse interaction
				raycaster = new THREE.Raycaster();
				mouse     = new THREE.Vector2();

        window.addEventListener(   'resize',    onWindowResize, false );
        document.addEventListener( 'mousemove', onDocumentMouseMove, false );

      }

      function onDocumentMouseMove( event ) {
      				event.preventDefault();
      				mouse.x =   ( event.clientX / window.innerWidth )  * 2 - 1;
      				mouse.y = - ( event.clientY / window.innerHeight ) * 2 + 1;
      			}

      function onWindowResize() {
  			camera.aspect = window.innerWidth / window.innerHeight;
  			camera.updateProjectionMatrix();
  			renderer.setSize( window.innerWidth, window.innerHeight );
  		}

      //
  		function animate() {

        var vertexpos    = 0;
  			var colorpos     = 0;
  			var numConnected = 0;

        // for ( var i = 0; i < particleCount; i++ )
  			// 	particlesData[ i ].numConnections = 0;
				//
        // for ( var i = 0; i < particleCount; i++ ) {
				//
        //   // get the particle
  			// 	var particleData = particlesData[i];
  			// 	particlePositions[ i * 3     ] += particleData.velocity.x * effectController.velocityFactor ;
  			// 	particlePositions[ i * 3 + 1 ] += particleData.velocity.y * effectController.velocityFactor ;
  			// 	particlePositions[ i * 3 + 2 ] += particleData.velocity.z * effectController.velocityFactor ;
				//
        //   if ( particlePositions[ i * 3 + 1 ] < -rHalf || particlePositions[ i * 3 + 1 ] > rHalf )
  			// 		particleData.velocity.y = -particleData.velocity.y;
  			// 	if ( particlePositions[ i * 3 ] < -rHalf || particlePositions[ i * 3 ] > rHalf )
  			// 		particleData.velocity.x = -particleData.velocity.x;
  			// 	if ( particlePositions[ i * 3 + 2 ] < -rHalf || particlePositions[ i * 3 + 2 ] > rHalf )
  			// 		particleData.velocity.z = -particleData.velocity.z;
  			// 	if ( effectController.limitConnections && particleData.numConnections >= effectController.maxConnections )
  			// 		continue;
				//
        //   // Check collision
  			// 	for ( var j = i + 1; j < particleCount; j++ ) {
  			// 		var particleDataB = particlesData[ j ];
  			// 		if ( effectController.limitConnections && particleDataB.numConnections >= effectController.maxConnections )
  			// 			continue;
  			// 		var dx = particlePositions[ i * 3     ] - particlePositions[ j * 3     ];
  			// 		var dy = particlePositions[ i * 3 + 1 ] - particlePositions[ j * 3 + 1 ];
  			// 		var dz = particlePositions[ i * 3 + 2 ] - particlePositions[ j * 3 + 2 ];
  			// 		var dist = Math.sqrt( dx * dx + dy * dy + dz * dz );
  			// 		if ( dist < effectController.minDistance ) {
  			// 			particleData.numConnections++;
  			// 			particleDataB.numConnections++;
  			// 			var alpha = 1.0 - dist / effectController.minDistance;
  			// 			positions[ vertexpos++ ] = particlePositions[ i * 3     ];
  			// 			positions[ vertexpos++ ] = particlePositions[ i * 3 + 1 ];
  			// 			positions[ vertexpos++ ] = particlePositions[ i * 3 + 2 ];
  			// 			positions[ vertexpos++ ] = particlePositions[ j * 3     ];
  			// 			positions[ vertexpos++ ] = particlePositions[ j * 3 + 1 ];
  			// 			positions[ vertexpos++ ] = particlePositions[ j * 3 + 2 ];
  			// 			colors[ colorpos++ ] = alpha;
  			// 			colors[ colorpos++ ] = alpha;
  			// 			colors[ colorpos++ ] = alpha;
  			// 			colors[ colorpos++ ] = alpha;
  			// 			colors[ colorpos++ ] = alpha;
  			// 			colors[ colorpos++ ] = alpha;
  			// 			numConnected++;
  			// 		}
  			// 	}
  			// }
				//
        // linesMesh.geometry.setDrawRange( 0, numConnected * 2 );
  			// linesMesh.geometry.attributes.position.needsUpdate = true;
  			// linesMesh.geometry.attributes.color.needsUpdate = true;
  			// pointCloud.geometry.attributes.position.needsUpdate = true;



				requestAnimationFrame( animate );

        // stats.update();
  			render();

      }





  		function render() {

  			var time = Date.now() * 0.005;


				raycaster.setFromCamera( mouse, camera );
				var intersects = raycaster.intersectObject( group );
        if ( intersects.length > 0 ) {
          console.log( "-X- intersecting");
        } else {
					console.log();
        }

				var geometry   = pointCloud.geometry;
				var attributes = geometry.attributes;

				for ( var i = 0; i < attributes.size.array.length; i++ ) {
					attributes.size.array[ i ] = 100 + 50 * Math.sin( 0.1 * i + time );
				}

				attributes.size.needsUpdate = true;

  			// group.rotation.y = time * 0.1;
  			renderer.render( scene, camera );

  		}






    });


  }) ;




</script>
