


<br><br>

<div>
  <table  id="tableParcours"
          class="table tableParcours table-striped table-bordered"
          cellspacing="0"
          width="100%"
          >
      <thead>
        <tr>
          <th> type </th>

          {% for index in parcours_indexes %}
          <th> {{ index }} </th>
          {% endfor %}

        </tr>
      </thead>

      <tfoot>
        <tr>
          <th> type </th>

          {% for index in parcours_indexes %}
          <th> {{ index }} </th>
          {% endfor %}

        </tr>
      </tfoot>

      <tbody>

      {% for key, values in user_parcours.iteritems() %}
        {% for val in values %}
        <tr>
            <th> {{ key|safe }}   </th>
            {% for index in parcours_indexes %}
              <td> {{ val[index]|safe }} </td>
            {% endfor %}
          {% endfor %}
        </tr>
      {% endfor %}

    </tbody>

  </table>

</div>
